.oms {
  flex-basis: 35%;
  margin-left: 165px;
}

.oms_container {
  margin-top: 120px;
  margin-left: -250px;
  text-align: center;
}

.oms_container img {
  width: 271px;
  height: 299px;
}

.oms_container p {
  margin-left: 250px;
  width: 375px;
  margin-top: 120px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
}