.partners {
  margin-top: 135px;
  margin-left: 200px;
  margin-bottom: 200px;
}

.partners-container {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}