@media (max-width: 767px) and (min-width: 320px) {

  .anti-corruption-measures__h1 {
    font-size: 24px;
  }

  .anti-corruption-measures__h3 {
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 30px;
    width: 80%;
  }

  .anti-corruption-measures-title {
    flex-basis: 95%;
    margin: auto;
  }

  .anti-corruption-measures-image {
    flex-basis: 100%;
  }

  .anti-corruption-measures-image {
    order: -1;
    margin-bottom: 40px;
  }

  .anti-corruption-measures-image img {
    width: 100%;
  }
}