@media (min-width: 1024px) and (max-width: 1919px) {
  .medical-and-diagnostic-departments__title {
    margin-left: 100px;
    width: 55%;
  }

  .medical-and-diagnostic-departaments-info__donors {
    margin: 100px;
  }

  .medical-and-diagnostic-departaments-block {
    margin-left: 0;
  }

  .medical-and-diagnostic-departaments-info-slide {
    margin-left: 100px;
    margin-right: 100px;
  }

  .medical-and-diagnostic-departaments-img {
    flex-basis: 60%;
  }

  .medical-and-diagnostic-departaments-btn {
    width: 100%;
  }

  .medical-and-diagnostic-departaments-offices-block .medical-and-diagnostic-departaments-link {
    width: 100%;
  }

  .medical-and-diagnostic-departaments-offices-block {
    flex-basis: 48%;
  }

  .medical-and-diagnostic-departaments-offices-block .medical-and-diagnostic-departaments-img {
    margin-bottom: 20px;
  }

  .medical-and-diagnostic-departaments-offices-block img {
    width: 100%;
  }

  .medical-and-diagnostic-departaments-offices-block .medical-and-diagnostic-departaments-btn__link {
    font-size: 14px;
  }
}