@media (min-width: 1024px) and (max-width: 1919px) {
  .anti-corruption-measures__h3 {
    margin-left: 100px;
    width: 50%;
  }

  .anti-corruption-measures-title {
    flex-basis: 45%;
  }

  .anti-corruption-measures-image img {
    width: 100%;
  }
}