<div class="about-the-center-container">
    {{> about-the-center-link aboutCenter=aboutCenter.[0]}}
    {{> about-the-center-link aboutCenter=aboutCenter.[1]}}
    {{> about-the-center-link aboutCenter=aboutCenter.[2]}}
    {{> about-the-center-link aboutCenter=aboutCenter.[3]}}
    {{> about-the-center-link aboutCenter=aboutCenter.[4]}}
    {{> about-the-center-link aboutCenter=aboutCenter.[5]}}
    {{> about-the-center-link aboutCenter=aboutCenter.[6]}}
    {{> about-the-center-link aboutCenter=aboutCenter.[7]}}
    {{> about-the-center-link aboutCenter=aboutCenter.[8]}}
    {{> about-the-center-link aboutCenter=aboutCenter.[9]}}
    {{> about-the-center-link aboutCenter=aboutCenter.[10]}}
</div>
