<div class="container container__action">
    <div class="text__action">
        <div class="text__action__p">
            <p>В рамках проведения в Самарской области с 9 по 15 июля 2017 г
                акции "Подари МНЕ Жизнь" Центр медико-социальной поддержки
                беременных женщин ГБУЗ "МЦ Династия" проводит мероприятия:
            </p>
            <div class="text__action__p__bottom">
                <p>1. Лекции и беседы для посетителей "О вреде аборта", "Вопросы котрацепии":</p>
                <p>- 11.07.2017г. - лектор врач акушер-гинеколог Зайцева Е.О.</p>
            </div>
        </div>
        <a href="../news.html" class="text__action__back"><img src="assets/images/slider_left-arrow_50.png">назад ко всем новостям</a>
    </div>
    <div class="image__action">
        <img src="assets/images/action-slider1.png" class="image_top">
        <img src="assets/images/slider_left-arrow_50.png" class="arrow">
        <img src="assets/images/action-slider2.png" class="image_bottom image_active">
        <img src="assets/images/action-slider2.png" class="image_bottom">
        <img src="assets/images/action-slider2.png" class="image_bottom">
        <img src="assets/images/slider_right-arrow_50.png" class="arrow">
    </div>
</div>