<div class="careers__block">
    <h3 class="careers__block__title">ВРАЧ АНАСТЕЗИОЛОГ-РЕАНИМАТОРОГ НА 0,5 СТАВКИ</h3>

    <div class="careers__block__container">
        <div class="careers__block__demands">
            <p class="careers__title">Требования:</p>
            <p>• Действующий сертификат</p>
            <p>• Опыт работы</p>
            <p>• Коммуникабельность,  мобильность</p>
        </div>

        <div class="careers__block__contacts">
            <p class="careers__title">Контактное лицо:</p>
            <p>Деев Андрей Анатольевич, заведующий группой анастезиологии и реаниматорогии. тел. 8 903 334 74 53</p>
            <p>Секретарь: 8/846/ 956-44-55</p>
        </div>

        <div class="careers__block__duties">
            <p class="careers__title">Должностные обязанности:</p>
            <p>Проводить работу по обеспечению постоянной готовности
                отделения к оказанию помощи больным. Обеспечение интенсивной
                терапии больным поступающим в отделение. Организация
                рационального использования аппаратов ИВЛ,
                контрольно-диагностических, других технических.
            </p>
        </div>

        <button class="btn careers__block__btn">ОТПРАВИТЬ РЕЗЮМЕ</button>
    </div>
</div>