<div class="donor-program-info">
    <div class="donor-program-info__button">
        <button class="btn donor-program-info__become">КАК ПОЛУЧИТЬ УСЛУГУ</button>
        <button class="btn donor-program-info__take-advantage">ВОСПОЛЬЗОВАТЬСЯ ДОНОРСКИМ БИОМАТЕРИАЛОМ</button>
    </div>

    <div class="donor-program-info-sliders become">
        <div class="donor-program-info-slide__donors">
            <button class="donor-program-info-slide__sperm active">Донорство спермы</button>
            <button class="donor-program-info-slide__egg">Донорство яйцеклетки</button>
        </div>

        <div class="donor-program-info-slide sperm">
            <div class="step">
                <h4>Шаг 1. Желание</h4>
                <p>Анонимное доноство спермы начинается с Вашего желания помочь бесплодным парам завести
                    собственного ребенка
                </p>

                <h4>Шаг 2. Мотивация</h4>
                <p>Каждая сдача спермы достойно оплачивается - часть суммы выплачивается вскоре после сдачи;
                    оставшееся вознаграждение Вы получаете после выхода Вашего биоматериала из карантина.
                </p>

                <h4>Шаг 3. Анонимность</h4>
                <p>Донорство спермы является полностью анонимным; супружеской паре, желающей использовать для
                    оплодотворения донорскую сперму предоставляется сведения только о возрасте, внешности,
                    образовании  и национальности донора; кроме того, они обязуются не устанавливать личность донора и
                    понимают возмодность дальнейшей связи с Вами их или их детей.
                </p>

                <h4>Шаг 4. С чего начать</h4>
                <p>Если Вы удовлетворяете нашим требованиям, необходимо заполнить анкету донора спермы, после чего
                    с Вами свяжутся наши специалисты для записи на сдачу спермограммы - подробное исследование
                    спермы необходимо для определения фертильности кандидата в доноры. Если Вы нам подходите, то
                    Вас пригласят для дальнейших обследований; в случае их успешного прохождения Вы сможете стать
                    нашим донором спермы.
                </p>

                <h4>Шаг 5. Безопасность</h4>
                <p>Донорство спермы совершенно безопасно и легально и является вашей уникальной возможностью за
                    достойное вознаграждение помочь бесплодным парам.
                </p>
            </div>

            <div class="demands">
                <h4>Требования к донорам спермы</h4>
                <p>• Возраст от 18 до 35 лет</p>
                <p>• Отсутствие вредных привычек</p>
                <p>• Физическое и психическое здоровье</p>
            </div>

            <div class="remuneration">
                <h4>Вознаграждение</h4>
                <p>Через 1-2 дня после сдачи спермы выплачивается 500 рублей. Ещё 1000 рублей Вы получаете через 6
                    месяцев после повторной сдачи анализов и выхода вашей спермы из карантина.</p>
            </div>

        </div>

        <div class="donor-program-info-slide egg" style="display: none">
            <div class="step">
                <h4>Шаг 1. Желание1</h4>
                <p>Анонимное доноство спермы начинается с Вашего желания помочь бесплодным парам завести
                    собственного ребенка
                </p>

                <h4>Шаг 2. Мотивация</h4>
                <p>Каждая сдача спермы достойно оплачивается - часть суммы выплачивается вскоре после сдачи;
                    оставшееся вознаграждение Вы получаете после выхода Вашего биоматериала из карантина.
                </p>

                <h4>Шаг 3. Анонимность</h4>
                <p>Донорство спермы является полностью анонимным; супружеской паре, желающей использовать для
                    оплодотворения донорскую сперму предоставляется сведения только о возрасте, внешности,
                    образовании  и национальности донора; кроме того, они обязуются не устанавливать личность донора и
                    понимают возмодность дальнейшей связи с Вами их или их детей.
                </p>

                <h4>Шаг 4. С чего начать</h4>
                <p>Если Вы удовлетворяете нашим требованиям, необходимо заполнить анкету донора спермы, после чего
                    с Вами свяжутся наши специалисты для записи на сдачу спермограммы - подробное исследование
                    спермы необходимо для определения фертильности кандидата в доноры. Если Вы нам подходите, то
                    Вас пригласят для дальнейших обследований; в случае их успешного прохождения Вы сможете стать
                    нашим донором спермы.
                </p>

                <h4>Шаг 5. Безопасность</h4>
                <p>Донорство спермы совершенно безопасно и легально и является вашей уникальной возможностью за
                    достойное вознаграждение помочь бесплодным парам.
                </p>
            </div>

            <div class="demands">
                <h4>Требования к донорам спермы</h4>
                <p>• Возраст от 18 до 35 лет</p>
                <p>• Отсутствие вредных привычек</p>
                <p>• Физическое и психическое здоровье</p>
            </div>

            <div class="remuneration">
                <h4>Вознаграждение</h4>
                <p>Через 1-2 дня после сдачи спермы выплачивается 500 рублей. Ещё 1000 рублей Вы получаете через 6
                    месяцев после повторной сдачи анализов и выхода вашей спермы из карантина.</p>
            </div>
        </div>
    </div>


    <div class="donor-program-info-sliders take-advantage" style="display: none">
        <p>
            Иногда случается так, что долгожданная беременность никак не
            наступает. Нетерпеливое ожидание постепенно сменяется отчаянием,
            приходит пора многочисленных медицинских исследований и прочее.
            И все равно ни одна из предпринятых попыток не приносит результата.
            Что же делать?
        </p>
        <p>
            На самом деле даже в самом безвыходном случае есть множество
            вариантов решения проблемы. Один из наиболее эффективных — это
            обращение за помощью в банк спермы и запись на процедуру донорской
            инсеминации*.
        </p>
        <p>
            * Донорская инсеминация — медицинская процедура искусственного
            оплодотворения пациентки семенем донора. Процедура дает результат с
            вероятностью 15% на 1 лечебный цикл, 60% на 6 проведенных циклов.
        </p>
        <p>
            Все чаще именно это решение принимают семейные пары, невозможность
            иметь детей у которых обуславливается бесплодием мужчины, вызванным
            азооспермией (полное отсутствие сперматозоидов), олигозооспермией
            (количество сперматозоидов меньше необходимого для наступления
            беременности уровня) и т. п. В таких случаях донорская инсеминация
            гарантирует не только результат, но и наличие у ребенка генетического
            материала матери, а также возможность совместного переживания
            беременности.
        </p>
        <p>
            Разумеется, мы осознаем, что принятие решения об использовании
            донорской спермы требует больших душевных сил, сама процедура
            вызывает множество вопросов. Поэтому наши консультанты в любое
            время готовы к беседе. Связаться с ними можно по телефону единой
            справочной службы 8 800 250 24 24 или непосредственно на данном сайте
            в разделе «Задать вопрос врачу».
        </p>

        <h4>Как отбираются доноры спермы</h4>
        <p>
            На первом этапе проводится беседа между нашим консультантом и желающим
            стать донором. Кандидату задаются вопросы, выявляющие уровень его
            интеллектуальных способностей, его цели и устремления, жизненные планы
            и интересы и позволяющие получить общее представление о состоянии его
            здоровья, о его образе жизни, о состоянии здоровья всех членов его семьи,
            о возможных фамильных хронических заболеваниях.
        </p>
        <p>
            На втором этапе осуществляется полномасштабное медицинское обследование,
            отсеивающее до 90% кандидатов в доноры. Сдаются анализы крови, мочи, анализы
            уретрального мазка, анализы на венерологические заболевания и прочее.
        </p>
        <p>
            Оставшиеся 10% кандидатов получают подробную юридическую консультацию о
            правах и обязанностях доноров, проходят повторную консультацию уролога,
            психиатра, генетика и терапевта.
        </p>
        <p>
            Берется опытный образец спермы. Он еще не включается в банк! Он замораживается
            и выдерживается в изолированном контейнере не менее 6 месяцев. За эти полгода
            донор еще как минимум два раза подвергается обследованию со сдачей анализов на
            ВИЧ, гепатиты В и С, сифилис, цитомегаловирус, гонорею, хламидиоз, трихомониаз,
            уреаплазмоз, микоплазмоз, вирус папилломы человека, генитальный герпес и другие
            заболевания. Только в случае многократно повторяемого отрицательного результата
            анализов сперма донора может быть использована для оплодотворения.
        </p>
        <p>
            Именно поэтому всего лишь 3,8% желающих стать донорами спермы действительно
            ими становятся!
        </p>

        <h4>Как происходит выбор пациентом «своего» донора?</h4>
        <p>
            Сразу же стоит отметить, что каталог доноров абсолютно анонимен, содержит
            исключительно описание следующих внешних характеристик:
        </p>
        <p>• национальная принадлежность;</p>
        <p>• рост;</p>
        <p>• вес;</p>
        <p>• цвет волос;</p>
        <p>• цвет глаз;</p>
        <p>• группа крови;</p>
        <p>• индекс IQ;</p>
        <p>• Пациенты (пациент) делают выбор на основе собственных предпочтений.</p>

        <h4>Процедура донорской инсеминации</h4>
        <p>
            В заранее обговоренный день в период овуляции производится собственно
            инсеминация — безболезненная процедура, больше всего напоминающая процедура
            взятия гинекологического мазка. После инсеминации пациентка в течение
            четверти часа остается в гинекологическом кресле, а затем уходит домой.
        </p>
        <p>
            В случае, если беременность не наступает, проводится повторный курс в следующий
            период овуляции.
        </p>
    </div>
</div>
