<section class="gos-uslugi">
    <p>Вы, также, можете записаться на приём с
        помощью портала государственных услуг</p>

    <img src="assets/images/social_portal.png" alt="министерства социально-демографической и семейной политики Самарской области">

    <a href="https://www.gosuslugi.ru/">перейти на портал</a>
</section>