<div class="title infertility-treatment-title">
    <p>Прохождение курса ВРТ - реальная возможность для семейных пар
    зачать и выносить здорового малыша. В областном центре
    репродуктивной медицины "Династия" вы можете получить полный
    комплекс услуг по лечению бесплодия на современном
    оборудовании с применением самых передовых технологий,
    доказавших свою эффективность для многих наших пациентов.</p>
    <p>За годы работы Центра в отделении ВРТ, после оказания нашими
    специалистами своевременной медицинсокй помощи, на свет
    появилось более 1850 детей. Прохождение курса ВРТ - реальная
    возможность для семейных пар зачать и выносить здорового
    малыша.</p>
</div>