<div class="service infertility-treatment-doc">
    <h4 class="service__title">МОИСЕЕВА ИРИНА ВАЛЕРЬЕВНА</h4>
    <div class="service__description">Руководитель отделения</div>
    <div class="service__description">Врач акушер-гинеколог-репродуктолог высшей категории</div>
    <div class="service__image">
        <img class="service__img" src="assets/images/servise_doc.png" alt="">
    </div>
</div>