<div class="main-slider">
    <ul class="slider">
        <li><img src="assets/images/slider_up-arrow.png"></li>
        <li class="active">01</li>
        <li>02</li>
        <li>03</li>
        <li>04</li>
        <li><img src="assets/images/slider_down-arrow.png"></li>
    </ul>
    <div class="main-slider__res slider__1 main-slider__active">
        {{> section-title text='О нас'}}
        <h3 class="burgundy__heading">Результативность ЭКО</h3>
        <h3 class="burgundy__heading burgundy__heading-center">в нашем центре</h3>
        <h3 class="burgundy__heading burgundy__heading-50">более 50%!</h3>
        <p>По своей сути рыбатекст является альтернативной традиционному lorem ipsum, который вызывает у некоторых людей недоумение.</p>
        <button class="btn">ЗАПИСАТЬСЯ НА ПРИЁМ</button>
    </div>
    <div class="main-slider__res slider__2">
        {{> section-title text='Возможность'}}
        <h3 class="burgundy__heading">Оцените работу</h3>
        <h3 class="burgundy__heading burgundy__heading-center">персонала центра</h3>
        <h3 class="burgundy__heading burgundy__heading-50">"Династия"</h3>
        <p>По своей сути рыбатекст является альтернативной традиционному lorem ipsum, который вызывает у некоторых людей недоумение.</p>
        <button class="btn">ДАТЬ ОЦЕНКУ</button>
    </div>
    <div class="main-slider__res slider__3">
        {{> section-title text='Акция'}}
        <h3 class="burgundy__heading">В "Династии" Вы можете</h3>
        <h3 class="burgundy__heading burgundy__heading-center">получить медицинские</h3>
        <h3 class="burgundy__heading burgundy__heading-50">услуги по полису ОМС</h3>
        <p>По своей сути рыбатекст является альтернативной традиционному lorem ipsum, который вызывает у некоторых людей недоумение.</p>
        <button class="btn">КАК ПОЛУЧИТЬ УСЛУГИ ПО ОМС</button>
    </div>
    <div class="main-slider__res slider__4">
        {{> section-title text='Новость'}}
        <h3 class="burgundy__heading">Мы вошли в реестр "100</h3>
        <h3 class="burgundy__heading burgundy__heading-center">лучших медицинских</h3>
        <h3 class="burgundy__heading burgundy__heading-50">учреждений России"</h3>
        <p>По своей сути рыбатекст является альтернативной традиционному lorem ipsum, который вызывает у некоторых людей недоумение.</p>
        <button class="btn">ПОДРОБНЕЕ</button>
    </div>
    <div class="backgound-1"></div>
</div>