<div class="mass-media-about-us-container newspaper" style="display: none">
    {{> all_mass-media-about-us all_mass-media-about-us-newspaper=all_mass-media-about-us-newspaper.[0]}}
    {{> all_mass-media-about-us all_mass-media-about-us-newspaper=all_mass-media-about-us-newspaper.[1]}}
    {{> all_mass-media-about-us all_mass-media-about-us-newspaper=all_mass-media-about-us-newspaper.[2]}}
    {{> all_mass-media-about-us all_mass-media-about-us-newspaper=all_mass-media-about-us-newspaper.[3]}}
    {{> all_mass-media-about-us all_mass-media-about-us-newspaper=all_mass-media-about-us-newspaper.[4]}}
    {{> all_mass-media-about-us all_mass-media-about-us-newspaper=all_mass-media-about-us-newspaper.[5]}}
</div>