<div class="mass-media-about-us">
    <div class="mass-media-about-us__slide">
        <button class="mass-media-about-us__newspaper active">ПУБЛИКАЦИИ В ГАЗЕТАХ</button>
        <button class="mass-media-about-us__internet">ПУБЛИКАЦИИ В ИНТЕРНЕТЕ</button>
        <button class="mass-media-about-us__video">ВИДЕОПУБЛИКАЦИИ</button>
    </div>

    {{> mass-media-about-us-newspaper}}
    {{> mass-media-about-us-internet}}
    {{> mass-media-about-us-video}}
</div>