<div class="medical-and-diagnostic-departaments-info">
    <div class="medical-and-diagnostic-departaments-info__donors">
        <button class="medical-and-diagnostic-departaments-info__guide active">РУКОВОДСТВО</button>
        <button class="medical-and-diagnostic-departaments-info__offices">ОТДЕЛЕНИЯ</button>
    </div>

    {{> medical-and-diagnostic-departaments-info-guide}}
    {{> medical-and-diagnostic-departaments-info-offices}}

</div>
