<div class="medical-and-diagnostic-departaments-info-slide guide">
    <h4>РУКОВОДСТВО</h4>
    {{> medical-and-diagnostic-departaments-doctors guide=guide.[0]}}
    {{> medical-and-diagnostic-departaments-doctors guide=guide.[1]}}
    {{> medical-and-diagnostic-departaments-doctors guide=guide.[2]}}
</div>