<div class="medical-and-diagnostic-departaments-offices-block">
    <div class="medical-and-diagnostic-departaments-img">
        <img src="{{offices.img}}">
    </div>

    <div class="medical-and-diagnostic-departaments-link">
        <a href="{{offices.href}}" class="medical-and-diagnostic-departaments-btn__link">{{offices.name}}</a>
    </div>
</div>