<div class="receiving provision-of-services non-resident-patients">
    <div class="drop-down__service drop-down__service_1">
        <h3>АРЕНДА КВАРТИР</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">
            <div class="inform__container">
                <h4>Санаторий «Самарский»</h4>
                <p class="inform__btn inform__btn_1">Информация</p>
                <div class="inform__drop-down__1" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Санаторий «Самарский»</h4>
                <p class="inform__btn inform__btn_2">Информация</p>
                <div class="inform__drop-down__2" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Гостиница «Моя»</h4>
                <p class="inform__btn inform__btn_3">Информация</p>
                <div class="inform__drop-down__3" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Гостиница «Моя»</h4>
                <p class="inform__btn inform__btn_4">Информация</p>
                <div class="inform__drop-down__4" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Гостиничный комплекс «Южный»</h4>
                <p class="inform__btn inform__btn_5">Информация</p>
                <div class="inform__drop-down__5" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Гостиничный комплекс «Южный»</h4>
                <p class="inform__btn inform__btn_6">Информация</p>
                <div class="inform__drop-down__6" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="drop-down__service drop-down__service_2">
        <h3>ГОСТИНИЦЫ</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">
            <div class="inform__container">
                <h4>Санаторий «Самарский»</h4>
                <p class="inform__btn inform__btn_1">Информация</p>
                <div class="inform__drop-down__1" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Санаторий «Самарский»</h4>
                <p class="inform__btn inform__btn_2">Информация</p>
                <div class="inform__drop-down__2" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Гостиница «Моя»</h4>
                <p class="inform__btn inform__btn_3">Информация</p>
                <div class="inform__drop-down__3" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Гостиница «Моя»</h4>
                <p class="inform__btn inform__btn_4">Информация</p>
                <div class="inform__drop-down__4" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Гостиничный комплекс «Южный»</h4>
                <p class="inform__btn inform__btn_5">Информация</p>
                <div class="inform__drop-down__5" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Гостиничный комплекс «Южный»</h4>
                <p class="inform__btn inform__btn_6">Информация</p>
                <div class="inform__drop-down__6" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Гостиничный комплекс «Азимут Отель Самара»</h4>
                <p class="inform__btn inform__btn_7">Информация</p>
                <div class="inform__drop-down__7" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Гостиничный комплекс «Азимут Отель Самара»</h4>
                <p class="inform__btn inform__btn_8">Информация</p>
                <div class="inform__drop-down__8" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4> Гостиница «Айсберг»</h4>
                <p class="inform__btn inform__btn_9">Информация</p>
                <div class="inform__drop-down__9" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4> Гостиница «Айсберг»</h4>
                <p class="inform__btn inform__btn_10">Информация</p>
                <div class="inform__drop-down__10" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="drop-down__service drop-down__service_3">
        <h3>ТАКСИ</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">
            <div class="inform__container">
                <h4>Санаторий «Самарский»</h4>
                <p class="inform__btn inform__btn_1">Информация</p>
                <div class="inform__drop-down__1" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Санаторий «Самарский»</h4>
                <p class="inform__btn inform__btn_2">Информация</p>
                <div class="inform__drop-down__2" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Гостиница «Моя»</h4>
                <p class="inform__btn inform__btn_3">Информация</p>
                <div class="inform__drop-down__3" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Гостиница «Моя»</h4>
                <p class="inform__btn inform__btn_4">Информация</p>
                <div class="inform__drop-down__4" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="drop-down__service drop-down__service_4">
        <h3>РЕСТОРАНЫ И КАФЕ</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">
            <div class="inform__container">
                <h4>Санаторий «Самарский»</h4>
                <p class="inform__btn inform__btn_1">Информация</p>
                <div class="inform__drop-down__1" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Санаторий «Самарский»</h4>
                <p class="inform__btn inform__btn_2">Информация</p>
                <div class="inform__drop-down__2" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Гостиница «Моя»</h4>
                <p class="inform__btn inform__btn_3">Информация</p>
                <div class="inform__drop-down__3" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Гостиница «Моя»</h4>
                <p class="inform__btn inform__btn_4">Информация</p>
                <div class="inform__drop-down__4" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Гостиничный комплекс «Южный»</h4>
                <p class="inform__btn inform__btn_5">Информация</p>
                <div class="inform__drop-down__5" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Гостиничный комплекс «Южный»</h4>
                <p class="inform__btn inform__btn_6">Информация</p>
                <div class="inform__drop-down__6" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Гостиничный комплекс «Азимут Отель Самара»</h4>
                <p class="inform__btn inform__btn_7">Информация</p>
                <div class="inform__drop-down__7" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4>Гостиничный комплекс «Азимут Отель Самара»</h4>
                <p class="inform__btn inform__btn_8">Информация</p>
                <div class="inform__drop-down__8" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4> Гостиница «Айсберг»</h4>
                <p class="inform__btn inform__btn_9">Информация</p>
                <div class="inform__drop-down__9" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>

            <div class="inform__container">
                <h4> Гостиница «Айсберг»</h4>
                <p class="inform__btn inform__btn_10">Информация</p>
                <div class="inform__drop-down__10" style="display: none;">
                    <p>9-я просека 5-я линия, 4</p>
                    <p>тел. (846) 221-15-16 — Спорткомплекс<br>
                        тел. (846) 221-13-11 — Гостиница<br>
                        тел. (846) 221-13-30 — Салон красоты<br>
                        тел. (846) 221-13-40 — Медицинский центр<br>
                        тел. (846) 952-93-11 — Ресторан
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>