<section class="oms">
    {{> section-title text='ОМС'}}

    <div class="oms_container">
        <img src="assets/images/logo.png" alt="Династия">

        <p>Жители всех регионов России могут получить медицинскую помощь в нашем центре по полису обязательного  медицинского страхования (ОМС)</p>
    </div>
</section>