<div class="quality-indicators-title paid-services">
    <h2 class="paid-services-employees__h2">КОНТАКТНАЯ ИНФОРМАЦИЯ</h2>
    <div class="quality-indicators-block">
        <p><b>Время работы</b></p>
    </div>
    <div class="quality-indicators-block">
        <p>понедельник - пятница:<br>
            первая смена - с 08:00 до 15:48;<br>
            вторая смена - с 12:00 до 19:48:<br>
            суббота - с 08:00 до 13-00;<br>
            выходной -воскресенье
        </p>
    </div>
    <div class="quality-indicators-block">
        <p><b>Контактная информация отделения</b></p>
    </div>
    <div class="quality-indicators-block">
        <p>443095 Россия, г.Самара, ул.Ташкентская, 159<br>
            Телефон: +7(846)203-98-08
        </p>
    </div>

    <div class="paid-services-employees__container">
        <div class="paid-services-employees-image">
            <img class="service__img" src="assets/images/contacts_info.png" alt="">
        </div>
        <div class="paid-services-employees-image">
            <img class="service__img" src="assets/images/contacts_info.png" alt="">

        </div>
        <div class="paid-services-employees-image">
            <img class="service__img" src="assets/images/contacts_info.png" alt="">
        </div>
    </div>
</div>
