<div class="quality-indicators-image">
    <img class="service__img" src="assets/images/quality-doc.png" alt="">
    <h4 class="service__title">ВОЛЧКОВ СТАНИСЛАВ ЕВГЕНЬЕВИЧ</h4>
    <div class="service__description">Заместитель директора по контролю качества</div>
</div>