<div class="patients-container">
    {{> patients-link patients=patients.[0]}}
    {{> patients-link patients=patients.[1]}}
    {{> patients-link patients=patients.[3]}}
    {{> patients-link patients=patients.[2]}}
    {{> patients-link patients=patients.[4]}}
    {{> patients-link patients=patients.[5]}}
    {{> patients-link patients=patients.[6]}}
</div>
