<div class="receiving provision-of-services">

    <div class="drop-down__service drop-down__service_1">
        <h3>ДОКУМЕНТЫ</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">
            {{> provision-of-services-document documents=documents.[0]}}
            {{> provision-of-services-document documents=documents.[1]}}
            {{> provision-of-services-document documents=documents.[2]}}
            {{> provision-of-services-document documents=documents.[3]}}
            {{> provision-of-services-document documents=documents.[4]}}
            {{> provision-of-services-document documents=documents.[5]}}
            {{> provision-of-services-document documents=documents.[6]}}
            {{> provision-of-services-document documents=documents.[7]}}
            {{> provision-of-services-document documents=documents.[8]}}
            {{> provision-of-services-document documents=documents.[9]}}
            {{> provision-of-services-document documents=documents.[10]}}
            {{> provision-of-services-document documents=documents.[11]}}
            {{> provision-of-services-document documents=documents.[12]}}
        </div>
    </div>

    <div class="drop-down__service drop-down__service_2">
        <h3>ИНФОРМАЦИЯ О СТАНДАРТАХ МЕДИЦИНСКОЙ ПОМОЩИ</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">
            <h4>Медицинская помощь при бесплодии с использованием
                вспомогательных репродуктивных технологий оказывается на
                основании:
            </h4>
            <div class="grounds">
                <p>• Приказа МЗ РФ от 30  октября 2012 г. № 556 н «Об утверждении стандарта медицинской помощи при бесплодии с использованием вспомогательных репродуктивных технологий»</p>
                <p>• Приказа МЗ РФ от 30 августа 2012 г. № 107н « О порядке использования вспомогательных репродуктивных технологий, противопоказаниях и ограничениях к их применению»</p>
            </div>
        </div>
    </div>

    <div class="drop-down__service drop-down__service_3">
        <h3>ДОЛЖНОСТНЫЕ ЛИЦА</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">
            {{> provision-of-services-doctors doctors=doctors.[0]}}
            {{> provision-of-services-doctors doctors=doctors.[1]}}
            {{> provision-of-services-doctors doctors=doctors.[2]}}
            {{> provision-of-services-doctors doctors=doctors.[3]}}
            {{> provision-of-services-doctors doctors=doctors.[4]}}
            {{> provision-of-services-doctors doctors=doctors.[5]}}
        </div>
    </div>

    <div class="drop-down__service drop-down__service_4">
        <h3>ЧАСЫ ПРИЕМА СПЕЦИАЛИСТАМИ ГБУЗ «СОЦП» ПО АДРЕСУ ТАШКЕНСТКАЯ, 159</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">
            {{> provision-of-services-doctorsTashkentskaya doctorsTashkentskaya=doctorsTashkentskaya.[0]}}
            {{> provision-of-services-doctorsTashkentskaya doctorsTashkentskaya=doctorsTashkentskaya.[1]}}
            {{> provision-of-services-doctorsTashkentskaya doctorsTashkentskaya=doctorsTashkentskaya.[2]}}
            {{> provision-of-services-doctorsTashkentskaya doctorsTashkentskaya=doctorsTashkentskaya.[3]}}
            {{> provision-of-services-doctorsTashkentskaya doctorsTashkentskaya=doctorsTashkentskaya.[4]}}
            {{> provision-of-services-doctorsTashkentskaya doctorsTashkentskaya=doctorsTashkentskaya.[5]}}
            {{> provision-of-services-doctorsTashkentskaya doctorsTashkentskaya=doctorsTashkentskaya.[6]}}
            {{> provision-of-services-doctorsTashkentskaya doctorsTashkentskaya=doctorsTashkentskaya.[7]}}
            {{> provision-of-services-doctorsTashkentskaya doctorsTashkentskaya=doctorsTashkentskaya.[8]}}
            {{> provision-of-services-doctorsTashkentskaya doctorsTashkentskaya=doctorsTashkentskaya.[9]}}
            {{> provision-of-services-doctorsTashkentskaya doctorsTashkentskaya=doctorsTashkentskaya.[10]}}
            {{> provision-of-services-doctorsTashkentskaya doctorsTashkentskaya=doctorsTashkentskaya.[11]}}
        </div>
    </div>

    <div class="drop-down__service drop-down__service_5">
        <h3>ЧАСЫ ПРИЕМА СПЕЦИАЛИСТАМИ ГБУЗ «СОЦП» ПО АДРЕСУ ГАЛАКТИОНОВСКАЯ, 21</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">
            {{> provision-of-services-doctorsGalactionovskaya doctorsGalactionovskaya=doctorsGalactionovskaya.[0]}}
            {{> provision-of-services-doctorsGalactionovskaya doctorsGalactionovskaya=doctorsGalactionovskaya.[1]}}
            {{> provision-of-services-doctorsGalactionovskaya doctorsGalactionovskaya=doctorsGalactionovskaya.[2]}}
            {{> provision-of-services-doctorsGalactionovskaya doctorsGalactionovskaya=doctorsGalactionovskaya.[3]}}
            {{> provision-of-services-doctorsGalactionovskaya doctorsGalactionovskaya=doctorsGalactionovskaya.[4]}}
            {{> provision-of-services-doctorsGalactionovskaya doctorsGalactionovskaya=doctorsGalactionovskaya.[5]}}
        </div>
    </div>

    <div class="drop-down__service drop-down__service_6">
        <h3>АДРЕСА И ТЕЛЕФОНЫ КОНТРОЛИРУЮЩИХ ОРГАНОВ</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">
            {{> provision-of-services-controlBodies controlBodies=controlBodies.[0]}}
            {{> provision-of-services-controlBodies controlBodies=controlBodies.[1]}}
            {{> provision-of-services-controlBodies controlBodies=controlBodies.[2]}}
            {{> provision-of-services-controlBodies controlBodies=controlBodies.[3]}}
            {{> provision-of-services-controlBodies controlBodies=controlBodies.[4]}}
            {{> provision-of-services-controlBodies controlBodies=controlBodies.[5]}}
            {{> provision-of-services-controlBodies controlBodies=controlBodies.[6]}}
        </div>
    </div>


</div>