<div class="questions-and-answers-top">
    <div class="drop-down__service drop-down__service_1">
        <h3>ЧТО ТАКОЕ ЭКО?</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">
            <p><b>Ответ:</b> ЭКО оплодотворение - это оплодотворение вне организма и последующий перенос оплодотворенной развивающейся яйцеклетки
                (эмбриона) в матку. Основные показатели к процедуре ЭКО - это нарушения работы маточных труб, эндометриоз, низкое качество спермы,
                бесплодие неясного генеза.
            </p>
        </div>
    </div>

    <div class="drop-down__service drop-down__service_2">
        <h3>ЧТО ТАКОЕ ЭКО?</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">
            <p><b>Ответ:</b> ЭКО оплодотворение - это оплодотворение вне организма и последующий перенос оплодотворенной развивающейся яйцеклетки
                (эмбриона) в матку. Основные показатели к процедуре ЭКО - это нарушения работы маточных труб, эндометриоз, низкое качество спермы,
                бесплодие неясного генеза.
            </p>
        </div>
    </div>

    <div class="drop-down__service drop-down__service_3">
        <h3>ЧТО ТАКОЕ ЭКО?</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">
            <p><b>Ответ:</b> ЭКО оплодотворение - это оплодотворение вне организма и последующий перенос оплодотворенной развивающейся яйцеклетки
                (эмбриона) в матку. Основные показатели к процедуре ЭКО - это нарушения работы маточных труб, эндометриоз, низкое качество спермы,
                бесплодие неясного генеза.
            </p>
        </div>
    </div>

    <div class="drop-down__service drop-down__service_4">
        <h3>ЧТО ТАКОЕ ЭКО?</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">
            <p><b>Ответ:</b> ЭКО оплодотворение - это оплодотворение вне организма и последующий перенос оплодотворенной развивающейся яйцеклетки
                (эмбриона) в матку. Основные показатели к процедуре ЭКО - это нарушения работы маточных труб, эндометриоз, низкое качество спермы,
                бесплодие неясного генеза.
            </p>
        </div>
    </div>
</div>