<div class="reviews-title">
    <p>Для нашего Центра очень важно своевременно получать
        объективную оценку работу наших сотрудников. Это помогает нам
        непрерывно совершенствовать работу персонала, что, в свою
        очередь, отражается на повышении эффективности медицинских
        услуг в нашем центре.
    </p>
    <p>Для того что бы мы могли оперативно исправить возможные
        недочеты в нашей работе просим Вас оценить качество
        амбулаторной и медицинской помощи, перейдя по ссылке и
        заполнив анкету независимой оценки. Анкетирование проводит
        Министерство Здравоохранения. Это не займет у Вас много
        времени, а нам существенно поможет в нашей работе.
        <br>Большое спасибо!
    </p>
</div>
