<div class="specialist-page__conteiner">
    <div class="specialist-page__conteiner__left">
        <div class="specialist-page__conteiner__block">
            <h5>ОБРАЗОВАНИЕ:</h5>
            <p>2005-2007 - ФГОУ ВПО "Санкт-Петербургский государственный университет"</p>
            <p>Факультет: психологии</p>
            <p>Специализация: Специальная психология</p>
            <p>2007-2013 - СПБ ГБОУ ВПО "Санкт-Петербургский государственный медицинский университет имени академика И.П. Павлова" МЗ РФ</p>
            <p>Факультет: лечебный</p>
            <p>Квалификация: Врач по специальности "лечебное дело"</p>
            <p>2013-2014 - ГБОУ ВПО ПСПбГМУ им. И.П. Павлова Минздрава России</p>
            <p>Факультет: Постдипломного образования</p>
            <p>Специализация: Оториноларингология</p>
            <p>Квалификация: Врач</p>
            <p>2014-2016 - ГБОУ ВПО ПСПбГМУ им. И.П. Павлова Минздрава России</p>
            <p>Факультет: Постдипломного образования</p>
            <p>Спецификация: оторинларигология</p>
            <p>Квалификация: Врач</p>
        </div>

        <div class="specialist-page__conteiner__block">
            <h5>ДОПОЛНИТЕЛЬНОЕ ОБРАЗОВАНИЕ:</h5>
            <p>2014 - ГБОУ ВПО ПСПбГМУ им. И.П.Павлова Минздрава России, кафедра патофизиологии, центр лазерной медицины</p>
            <p>Курс: "Лазерные технологии в оториноларинголии с курсом фотодинамической терапии"</p>
            <p>2015 - Российское общество ринологов</p>
            <p>Курс: VI Российский макстер-класс с междунаргодным участием "Современная функциональная ринохирургия"</p>
        </div>

        <div class="specialist-page__conteiner__block">
            <h5>ДОКЛАДЫ И ВСТУПЛЕНИЯ:</h5>
            <p>Невский радиологиеский форум - 2015, секция Высокотехнологичные методы лучевой диагностит в амбулаторной
                стоматологии, челюстно-лицевой хирургии, оториноларингологии и офтальмологии<br>
                Школа СПРО
            </p>
            <p>Алгоритм оценки состояния височных костей в норме и при патологии с использованием КЛКТ</p>
            <p>Зубарева А.А., Азовцева Е.А.</p>
            <p>62-яя научноо-практическая конференция молодых ученых-оториноларингологов<br>
                Оценка хирургически значимых антропометрических показателей структур среднего уха
                с использованием конуссно-лучевой компьютерной томографии (КЛКТ)
            </p>
            <p>Азовцева Е.А.</p>
            <p>Соавтор перевода монографии "Хирургия ухаГласскока-Шамбо:
                руководство в друх томах" Э. Дж. Гуля, Д. С. По, Л. Б. Минор.
                (Перевод с англ. под ред. С.А.Карпищенко).<br>
                Полянвская, А.С., Зубарева, А.А., Бедловская, Н.Ю., Шавгуливзе, М.А.,
                и Азовцева, Е.А. (2016). Использование конусно-лучевой компьютерной
                томографии для определения оптимальной лечебной тактики у пациентов с патологией
                слёзоотведения.<br>
                Офтальмологические ведомости, 9(1), 14-18.<br>
                10.17816/OV9114-18
            </p>
            <p>Карпищенко С.А., Зубарева А.А., Филимонов В.Н., Шавгулидзе М.А.,
                Азовцева Е.А. Возможности конусно-лучевой компьютерной
                томографии виочных костей у пациентов с отосклерозом. Вестник
                Оториноларинголонии. 2016. Т. 81. № 4. С. 10-13.<br>
                Азовцеева Е.А., Зубарева А.А., Филимонов В.Н. Хиругически
                значимые особенности анатомического строения лабиринтной
                стенки барабанной полости у пациентов с отосклерозом,
                выявленные по данным конусно-лучевой компьютерной
                томографии. Российская оториноларингология. 2016. №3 (82). С.
                11-15.<br>
                Доклад с публикацией тезисов на XIX съезде оториноларингологов
                России, Казань 2016.
            </p>
        </div>
    </div>
    <div class="specialist-page__conteiner__right">
        <div class="specialist-page__conteiner__right__top">
            <img src="assets/images/director.png">
            <button class="btn specialist-page__btn">НАПИСАТЬ ДИРЕКТОРУ</button>
        </div>
        <div class="specialist-page__conteiner__right__bottom">
            <div class="specialist-page__conteiner__block">
                <h5>ОПЫТ РАБОТЫ:</h5>
                <p>2016 - ОАО "Ава-Петер" (МК Скандинавия)</p>
                <p>Должность: Врач-отоларинголог</p>
                <p>2016 - МК "Семейный доктор"</p>
                <p>Должность: Врач-отоларинголог</p>
                <p>2014-2015 - СПбГБУЗ "Городская поликлиника №114"</p>
                <p>Должность: Врач-отоларинголог</p>
                <p>2011-2012 МБУЗ ТРБ</p>
                <p>Должность: медицинская сестра приемного отделения</p>
                <p>2011 - ФОК "Екатерининский"</p>
                <p>Должность: медицинская сестра</p>
                <p>2010 - Лениинградская Областная клиническая больница, отделение эндокринологии</p>
                <p>Должность: медицинская сестра (процедурная и палатная)</p>
                <p>2009 - городской клинический онкологический диспансер, ЛОР отделение</p>
                <p>Должность: медицинская сестра (перевязочная и процедурная)</p>
            </div>
            <div class="specialist-page__conteiner__block">
                <h5>ПУБЛИКАЦИИ:</h5>
                <p>Зубарева А.А., Никитин К.А., Шавгулидзе М.А., Азовцеа Е.А.
                    ВОЗМОЖНОСТИ КОНУСНО-ЛУЧЕВОЙ КОМПЬЮТЕРННОЙ ТОМОГРАФИИ В ОЦЕНКЕ
                    ХИРУРГИЧЕСКИ ЗНАЧИМЫХ АНТРОПОМЕТРИЧЕСКИХ ПОКАЗАЕЛЕЙ СТРУКТУР
                    СРЕДНЕГО УХА ПРИ РАЗЛИЧНЫХ ТИПАХ СТРОЕНИЯ ВИСОЧНОЙ КОСТИ //
                    Лучевая диагнсотика и терапия, 2014.-№ 4.-С.38-44.<br>
                    Е. А. Азовцева Оценка хирургически значимых антропометрических
                    показателей структур среднего уха с использованием
                    конучно-лучевой компьютерной томографии (КЛКТ) // Российская
                    оториноларингология, 2015. - № 2. - С. 9-12<br>
                    Зубарева А.А., Азовцева Е.А. Алгоритм анализа конусно-лучевых
                    компьютерных томограмм височных костей // Сборник научных
                    работ НРФ-2015.
                </p>
            </div>
            <div class="specialist-page__conteiner__block">
                <h5>ПРОФЕССИОНАЛЬНЫЕ НАВЫКИ:</h5>
                <p>Диагностика и лечение заболеваний ЛОР-органов</p>
                <p>Манипуляции и операции: осмотр ЛОР органов ригидными
                    эндоскопами, фиброскопами, тимпаногометрия, тональная
                    пороговая пудиометрия, пункция верхнечелюстных пазух,
                    промывание лакун небных миндалин, продувание ушей по
                    Политцеру, аспирация по Зондерману, перемещение жидкости по
                    Проэтцу, орошение носоглотки, катетеризация устьев слуховых
                    труб, туалет слуховых проходов, в т.ч. после радикальной операции,
                    дазерная коагуляция нижних носовых раковин, полипотомия
                    полости носа (петлевая, ЛИТТ, с использованием шейвера).
                </p>
            </div>
        </div>
    </div>
</div>