<section class="subscribe">
    <div class="subscribe__title">Подписаться на рассылку новостей и специальных предложений Клиники</div>

    <div class="subscribe-form">
        {{> input-container label="* Ваше имя" type="text"}}
        {{> input-container label="* e-mail" type="email"}}

        <button class="btn disactive">
            <input type="checkbox" name="checkbox" class="checkbox">
            <label>Я не робот!</label>
        </button>
    </div>

    <div class="text-of-agreements">
        <p>Отправляя данную форму, вы подтверждаете свое согласие на обработку вносимых в нее персональных данных.
            <span class="text-of-agreement-open">Текст соглашения</span>.
        </p>
    </div>
</section>