@media (min-width: 1024px) and (max-width: 1919px) {
  .main-url,
  .infertility-treatment-title__h1,
  .provision-of-services {
    margin-left: 100px;
  }

  .infertility-treatment-title__h1 {
    font-size: 42px;
  }

  .provision-of-services .drop-down__service {
    margin-left: 0;
  }

  .provision-of-services .drop-down__service {
    width: 92%;
  }

  .provision-of-services .drop-down__service_1 .drop-down__service__display {
    height: 1500px;
  }

  .provision-of-services .drop-down__service_2 .drop-down__service__display {
    height: 270px;
  }

  .provision-of-services .drop-down__service_3 .drop-down__service__display {
    height: 820px;
  }

  .provision-of-services .drop-down__service_4 .drop-down__service__display {
    height: 1200px;
  }

  .provision-of-services .drop-down__service_5 .drop-down__service__display {
    height: 620px;
  }

  .provision-of-services .drop-down__service_6 .drop-down__service__display {
    height: 1150px;
  }
}