$font-main: '';
$font-secondary: '';

$font-size-h1: 48px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-regular: 16px;
$font-size-xs: $font-size-regular*0.75;
$line-height-base: 1.3;

$color-text-main: #303030;
$color-text-secondary: #000;
$color-text-light: #efefef;
$color-background: #fff;
$color-active: #7a231c;
$color-light: #f1f1f1;
$color-super-light: #fff;
$color-red: #ce1914;
$color-gray: #9a9a9a;

$header-top-margin-bottom: 30px;

$default-shadow: 0 0 34px 6px rgba(0, 0, 0, 0.11);

