@media (max-width: 1023px) and (min-width: 768px) {

  .gos-uslugi {
    margin-top: 40px;
  }

  .gos-uslugi p {
    margin-right: 25px;
  }

  .gos-uslugi img {
    height: 55px;
  }

  .gos-uslugi p, .gos-uslugi img, .gos-uslugi a {
    width: 245px;
    font-size: 13px;
  }

  .gos-uslugi a {
    width: 200px;
    margin-left: 0;
  }
}