.site-map__conteiner {
  margin-left: 375px;
  margin-right: 225px;
  margin-top: 135px;
  margin-bottom: 135px;
  display: flex;
  justify-content: space-between;
}

.site-map__block {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}

.site-map__title,
.site-map__l1,
.site-map__l2 {
  line-height: 36px;
}

.site-map__title:hover a,
.site-map__l1:hover,
.site-map__l2:hover {
  border-bottom: 1px solid #7a231c;
}

a.site-map__l2 {
  margin-left: 20px;
}

.site-map__title {
  font-weight: bold;
  margin-bottom: 15px;
}

//Результаты поиска

.search-rezult {
  margin: 70px 225px 100px;
}

.search__block {
  margin-left: 200px;
  margin-top: 60px;
  width: 55%;
}

.search__block p {
  line-height: 24px;
}

.search__block p.title {
  font-weight: bold;
}

//конктакты

.contacts__title__h2 {
  margin: 70px 225px 100px;
  width: 60%;
  font-size: 30px;
  line-height: 48px;
}

.conteiner__contacts {
  margin-left: 225px;
  margin-right: 225px;
  margin-bottom: 110px;
  display: flex;
}

.map {
  height: 580px;
  flex-basis: 75%;
}

.contact__adress {
  flex-basis: 300px;
}

.contact__adress__block {
  height: 60px;
  padding-left: 15px;
  padding-top: 5px;
  line-height: 24px;
}

.contact__adress__block:hover {
  color: #7a231c;
}

.active__adress {
  background-color: #7a231c;
  color: white;
}

.active__adress:hover {
  color: white;
}

p.title__adress {
  margin-top: 35px;
}

.title__adress,
.city{
  margin-left: 15px;
  font-size: 20px;
  line-height: 24px;
}

.city{
  margin-top: 35px;
  margin-bottom: 15px;
}

.title__adress,
.title {
  font-weight: bold;
}

.email {
  margin-top: 35px;
}

.email:hover {
  color: #303030;
}

.contact__bottom {
  margin-left: 225px;
  margin-right: 225px;
  margin-bottom: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact__bottom .btn {
  flex-basis: 49%;
  background-color: #f1f1f1;
  color: #303030;
  border-color: #f1f1f1;
  margin-bottom: 15px;
}

.contact__bottom .btn:hover {
  color: #7a231c;
}

