@media (min-width: 1024px) and (max-width: 1919px) {
  .feedback-form {
    height: 380px;
  }

  .feedback-form .form {
    margin-top: 30px;
  }

  .form._feedback {
    width: 320px;
    padding: 20px;
  }

  .form__title {
    font-size: 16px;
    margin-bottom: 15px;
  }

  input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
    width: 270px;
    height: 35px;
    margin-bottom: 10px;
  }

  .form label, .form p, .form a {
    font-size: 9px;
  }

  .form p {
    padding-bottom: 20px;
    width: 270px;
  }

  .form .main-button {
    width: 235px;
    height: 40px;
    font-size: 14px;
    text-transform: none;
    margin-left: 25px;
  }

  .feedback-form__img {
    right: 135px;
    width: 370px;
    height: 420px;
    margin-left: 50px;
    background-size: 370px;
  }

  .feedback-form .container {
    max-width: 750px;
  }
}