@media (min-width: 1024px) and (max-width: 1919px) {

  .gos-uslugi p {
    margin-right: 80px;
  }

  .gos-uslugi img {
    height: 55px;
  }

  .gos-uslugi a {
    margin-left: 0;
  }

  .gos-uslugi p, .gos-uslugi img, .gos-uslugi a {
    width: 275px;
    font-size: 14px;
  }
}