@media (min-width: 1024px) and (max-width: 1919px) {
  .oms {
    margin-left: 0;
  }

  .oms_container {
    margin-left: 0;
    margin-top: 75px;
    width: 85%;
  }

  .oms_container img {
    width: 250px;
    height: 260px;
    margin-left: 0;
  }

  .oms_container p {
    width: 100%;
    margin-top: 130px;
    margin-left: 0;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0;
  }

}