@media (min-width: 1024px) and (max-width: 1919px) {
  .time-scroll {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
  }

  .time-scroll__monthes {
    flex-wrap: wrap;
  }

  .time-scroll__month {
    flex-basis: 100%;
  }

  .years {
    font-size: 18px;
    padding: 30px 6.5%;
  }

  .month__7 {
    padding-left: 0;
  }

  .month__6 {
    padding-right: 0;
    border-right: 0;
  }

  .month__1 {
    padding-left: 0;
  }

  .month__12 {
    padding-right: 0;
    border-right: 0;
  }
}