@media (min-width: 1024px) and (max-width: 1919px) {
  .main-url,
  .infertility-treatment-title__h1 {
    margin-left: 100px;
  }

  .infertility-treatment-title__h1 {
    font-size: 42px;
  }

  .all_awards-container {
    margin-left: 100px;
    margin-right: 100px;
  }

  .all_awards {
    margin-right: 20px;
    margin-bottom: 100px;
  }

  .all_awards h3 {
    font-size: 0.8em;
  }
}