@media (min-width: 768px) and (max-width: 1023px) {
  .medical-and-diagnostic-departments__title {
    margin-left: 80px;
    width: 80%;
  }

  .medical-and-diagnostic-departaments-info__donors {
    margin: 80px;
  }

  .medical-and-diagnostic-departaments-block {
    margin-left: 0;
  }

  .medical-and-diagnostic-departaments-info-slide {
    margin-left: 80px;
    margin-right: 80px;
  }

  .medical-and-diagnostic-departaments-img {
    flex-basis: 60%;
  }

  .medical-and-diagnostic-departaments-btn {
    width: 100%;
  }

  .medical-and-diagnostic-departaments-offices-block .medical-and-diagnostic-departaments-link {
    width: 100%;
  }

  .medical-and-diagnostic-departaments-offices-block {
    flex-basis: 48%;
  }

  .medical-and-diagnostic-departaments-offices-block .medical-and-diagnostic-departaments-img {
    margin-bottom: 20px;
  }

  .medical-and-diagnostic-departaments-img img {
    width: 100%;
  }

  .medical-and-diagnostic-departaments-offices-block .medical-and-diagnostic-departaments-btn__link {
    font-size: 14px;
  }

  .medical-and-diagnostic-departaments-conteiner {
    margin-left: 20px;
  }

  a.medical-and-diagnostic-departaments-btn__link {
    margin-top: 15px;
  }
}