@media (max-width: 767px) and (min-width: 320px) {
  .medical-and-diagnostic-departments__title {
    margin-left: 15px;
    width: 90%;
  }

  .medical-and-diagnostic-departaments-info__donors {
    margin: 80px 15px;
  }

  .medical-and-diagnostic-departaments-block {
    margin-left: 0;
  }

  .medical-and-diagnostic-departaments-info-slide {
    margin-left: 15px;
    margin-right: 15px;
  }

  .medical-and-diagnostic-departaments-img {
    flex-basis: 60%;
  }

  .medical-and-diagnostic-departaments-btn {
    width: 100%;
  }

  .medical-and-diagnostic-departaments-offices-block .medical-and-diagnostic-departaments-link {
    width: 100%;
  }

  .medical-and-diagnostic-departaments-offices-block {
    flex-basis: 100%;
  }

  .medical-and-diagnostic-departaments-offices-block .medical-and-diagnostic-departaments-img {
    margin-bottom: 20px;
  }

  .medical-and-diagnostic-departaments-img img {
    width: 100%;
  }

  .medical-and-diagnostic-departaments-offices-block .medical-and-diagnostic-departaments-btn__link {
    font-size: 14px;
  }

  .medical-and-diagnostic-departaments-conteiner {
    margin-left: 20px;
  }

  a.medical-and-diagnostic-departaments-btn__link {
    margin-top: 15px;
  }
}