@media (max-width: 1023px) and (min-width: 768px) {
  .news-block__date {
    margin-left: 80px;
  }

  .container__action {
    max-width: 80%;
    margin-left: 80px;
    margin-bottom: 75px;
    flex-direction: column-reverse;
  }

  .text__action {
    width: 100%;
    margin-top: 100px;
  }

  .image__action {
    width: 570px;
    margin: auto;
  }

  .text__action__back {
    margin-top: 150px;
  }
}
