@media (min-width: 1024px) and (max-width: 1919px) {
  .title__h2 {
    margin-left: 100px;
    width: 80%;
  }

  .specialist-page__conteiner {
    margin-left: 100px;
    margin-right: 100px;
  }

  .specialist-page__conteiner__right__top {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 60px;
  }

  .specialist-page__conteiner__right__bottom {
    margin-top: 60px;
  }

  .specialist-page__conteiner__right__top img {
    width: 100%;
  }

  .specialist-page__conteiner__left, .specialist-page__conteiner__right {
    flex-basis: 45%;
  }
}