@media (min-width: 1024px) and (max-width: 1919px) {
  .main-url,
  .infertility-treatment-title__h1,
  .content-flex,
  .receiving,
  .infertility-treatment-services,
  .infertility-treatment-info,
  .infertility-treatment-contacts {
    margin-left: 100px;
  }

  .content-flex {
    margin-right: 0;
  }

  .infertility-treatment-title__h1 {
    font-size: 42px;
  }

  .infertility-treatment-title p {
    margin-left: 85px;
    width: 67%;
  }

  .infertility-treatment-title {
    flex-basis: 60%;
  }

  .infertility-treatment-doc {
    flex-basis: 28%;
  }

  .receiving {
    margin-top: 0;
  }

  .infertility-treatment-doc .service__title {
    font-size: 15px;
    width: 100%;
  }

  .infertility-treatment-doc .service__description {
    font-size: 14px;
  }

  .drop-down__service {
    margin-left: 50px;
  }

  .infertility-treatment-services__block {
    margin-left: 0;
    width: 95%;
  }

  .infertility-treatment-services__block__left {
    width: 370px;
    height: 255px;
  }

  .infertility-treatment-services__block:nth-child(2n-1) .infertility-treatment-services__block__left:before {
    right: -220px;
    border-bottom: 255px solid #efefef;
    border-right: 220px solid transparent;
  }

  .infertility-treatment-services__block:nth-child(2n) .infertility-treatment-services__block__left:before {
    right: -220px;
    border-top: 255px solid #efefef;
    border-right: 220px solid transparent;
  }

  .infertility-treatment-services h3 {
    font-size: 18px;
    margin-left: 60px;
  }

  .infertility-treatment-services__block__right {
    flex-basis: 40%;
  }

  .infertility-treatment-services p {
    font-size: 12px;
    line-height: 20px;
  }

  .infertility-treatment-info h2,
  .infertility-treatment-contacts h2 {
    font-size: 24px;
  }

  .infertility-treatment-info__top p {
    margin-left: 80px;
    width: 50%;
  }

  .infertility-treatment-info__bottom__1,
  .infertility-treatment-info__bottom__2,
  .infertility-treatment-info__bottom__3 {
    margin-left: 40px;
  }

  .infertility-treatment-info__bottom__1 .number,
  .infertility-treatment-info__bottom__2 .number,
  .infertility-treatment-info__bottom__3 .number {
    font-size: 24px;
  }

  .infertility-treatment-info__bottom__1 .info,
  .infertility-treatment-info__bottom__2 .info,
  .infertility-treatment-info__bottom__3 .info {
    width: 55%;
  }

  .infertility-treatment-contacts-flex {
    margin-left: 80px;
    height: 320px;
  }

  .infertility-treatment-contacts-flex p {
    margin-bottom: 0;
  }

  .infertility-treatment-contacts-flex .sunday {
    margin-top: 20px;
  }

  .infertility-treatment-contacts-flex h3 {
    margin-top: 20px;
    font-size: 22px;
    margin-bottom: 0;
  }

  .infertility-treatment-contacts-flex a {
    order: 8;
    margin-top: 30px;
  }

  .infertility-treatment-contacts-flex img {
    margin-top: 0;
    width: 320px;
  }
}