<div class="about-the-center-structure">
    <h2>Структура учреждения</h2>

    <div class="structure">
        <div class="level_1 doctor_top doctor__submenu">
            <h4>Руководитель организации</h4>
            <h4>Директор Тюмина Ольга Владимировна</h4>
            <a href="#">перейти на страницу</a>

            <div class="level_2">
                <div class="doctor doctor_1">
                    <h4>Заместитель директора по контролю качества</h4>
                    <h4>Волчков Станислав Евгеньевич</h4>
                    <a href="#">перейти на страницу</a>
                </div>
                <div class="doctor doctor_2 doctor__submenu">
                    <h4>Заместитель директора по акушерсву и гинекологии</h4>
                    <h4>Михайлова Галина Александровна</h4>
                    <a href="#">перейти на страницу</a>

                    <div class="level_3 level_3__right">
                        <div class="doctor doctor_1 doctor__submenu">
                            <h4>Отделение вспомогательных репродуктивных технологий</h4>
                            <h4>Заведующий Моисеева Ирина Валерьевна</h4>
                            <a href="#">перейти на страницу</a>

                            <div class="level_4">
                                <div class="doctor doctor_1">
                                    <h4>Консультативно-поликлиническое подразделение "Брак и семья"</h4>
                                </div>
                            </div>
                        </div>
                        <div class="doctor doctor_2">
                            <h4>Гинекологическое отделение</h4>
                            <h4>Заведующий Биликова Людмила Степановна</h4>
                            <a href="#">перейти на страницу</a>
                        </div>
                        <div class="doctor doctor_3">
                            <h4>Акушерское отделение паталогии беременности</h4>
                            <h4>Заведующий Каложная Наталья Станиславовна</h4>
                            <a href="#">перейти на страницу</a>
                        </div>
                        <div class="doctor doctor_4">
                            <h4>Отделение Ультразвуковой диагностики</h4>
                            <h4>Заведующий Дмитриева Елена Вячеславовна</h4>
                            <a href="#">перейти на страницу</a>
                        </div>
                    </div>
                </div>
                <div class="doctor doctor_3">
                    <h4>Административно-хозяйственное подразделение</h4>
                </div>
                <div class="doctor doctor_4">
                    <h4>Отделение платных услуг</h4>
                </div>
                <div class="doctor doctor_5 doctor__submenu">
                    <h4>Функциональное подразделение "Центр клеточных технологий"</h4>

                    <div class="level_3 level_3__left">
                        <div class="doctor doctor_1">
                            <h4>Отделение лабораторной диагностики</h4>
                            <h4>Заведующий Трусова Лариса Михайловна</h4>
                            <a href="#">перейти на страницу</a>
                        </div>
                        <div class="doctor doctor_2">
                            <h4>Отделение заготовки крови и ее компонентов</h4>
                            <h4>Заведующий Тюмина Ольга Владимировна</h4>
                            <a href="#">перейти на страницу</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="structure_media">
        <div class="level_1 doctor doctor__submenu">
            <h4>Руководитель организации</h4>
            <h4>Директор Тюмина Ольга Владимировна</h4>
        </div>

        <div class="level_2 doctor doctor_1">
            <h4>Заместитель директора по контролю качества</h4>
            <h4>Волчков Станислав Евгеньевич</h4>
        </div>

        <div class="level_2 doctor doctor_2 doctor__submenu">
            <h4>Заместитель директора по акушерсву и гинекологии</h4>
            <h4>Михайлова Галина Александровна</h4>
        </div>

        <div class="level_3 doctor doctor_1 doctor__submenu">
            <h4>Отделение вспомогательных репродуктивных технологий</h4>
            <h4>Заведующий Моисеева Ирина Валерьевна</h4>
        </div>

        <div class="level_4 doctor doctor_1">
            <h4>Консультативно-поликлиническое подразделение "Брак и семья"</h4>
        </div>

        <div class="level_3 doctor doctor_2">
            <h4>Гинекологическое отделение</h4>
            <h4>Заведующий Биликова Людмила Степановна</h4>
        </div>

        <div class="level_3 doctor doctor_3">
            <h4>Акушерское отделение паталогии беременности</h4>
            <h4>Заведующий Каложная Наталья Станиславовна</h4>
        </div>

        <div class="level_3 doctor doctor_4">
            <h4>Отделение Ультразвуковой диагностики</h4>
            <h4>Заведующий Дмитриева Елена Вячеславовна</h4>
        </div>

        <div class="level_2 doctor doctor_3">
            <h4>Административно-хозяйственное подразделение</h4>
        </div>

        <div class="level_2  doctor doctor_4">
            <h4>Отделение платных услуг</h4>
        </div>

        <div class="level_2 doctor doctor_5 doctor__submenu">
            <h4>Функциональное подразделение "Центр клеточных технологий"</h4>
        </div>

        <div class="level_3 doctor doctor_1">
            <h4>Отделение лабораторной диагностики</h4>
            <h4>Заведующий Трусова Лариса Михайловна</h4>
        </div>

        <div class="level_3 doctor doctor_2">
            <h4>Отделение заготовки крови и ее компонентов</h4>
            <h4>Заведующий Тюмина Ольга Владимировна</h4>
        </div>
    </div>
</div>