<div class="about-the-center-director">
    <h2>Обласной центр репродуктивной медицины "Династия"</h2>

    <div class="about-the-center-director__flex">
        <img src="assets/images/director.png">

        <div class="about-the-center-director__flex__left">
            <p>Мы, как никто другой, понимаем, какие причины привели вас в "Династию" и
                стараемся, чтобы каждый наш пациент пришел к заветной цели - рождению ребенка -
                с максимальным комфортом и избежал ненужных стрессов и потрясений. Каждая
                пара, обратившаяся к нам, получает всю необходимую помощь и поддержку
                специалистов, которые проведуд вас по всему пути к успешному материнству.
            </p>
            <p>Название "Династия" наш центр репродуктивной медицины носит не случайно, в нем
                заключен сам принцип нашей работы - предоставлять людям возможность
                продолжения рода, передачи своего наследия, знаний, опыта, семейных традиций
                следующим поколениям
            </p>
            <p class="bold">
                Мы верим, что у вашей семьи все будет хорошо и приложим все усилия,
                чтобы вам помочь!
            </p>
            <p class="name">Ольга Владимировна Тюмина</p>
            <p class="dolzn">
                директор, профессор РАЕ, врач высшей
                категории, доктор медицинских наук
            </p>
            <button class="btn about-the-center-director__flex__btn">НАПИСАТЬ ДИРЕКТОРУ</button>
        </div>
    </div>
</div>