<div class="contact__adress">
    <p class="title__adress">Адреса:</p>
    <p class="city">г. Самара</p>

    <div class="contact__adress__block adress__1 active__adress">
        <p class="title">ул. Ташкенсткая, 159</p>
        <p>тел. +7(846)203-98-08</p>
    </div>

    <div class="contact__adress__block adress__2">
        <p class="title">ул. Галактионовская, 21</p>
        <p>тел. +7(846)203-98-08</p>
    </div>

    <div class="contact__adress__block adress__3">
        <p class="title">ул. Фрунзе, 43</p>
        <p>тел. +7(846)203-98-08</p>
    </div>

    <p class="city">г. Новокуйбышевск</p>

    <div class="contact__adress__block adress__4">
        <p class="title">ул. Гагарина, 3</p>
        <p>тел. +7(846)203-98-08</p>
    </div>

    <div class="contact__adress__block email">
        <p class="title">E-mail</p>
        <p>info@cordbank.ru</p>
    </div>
</div>