<div class="video__content">
    <video controls>
        <source src="{{all_mass-media-about-us-video.video}}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <h4>{{all_mass-media-about-us-video.title}}</h4>
</div>