<div class="anti-corruption-measures-title">
    <p>* незаконное взимание врачами и средним медицинским
        персоналом медицинских организаций денежных средств за
        оказание медицинской помощи (предоставления услуг),
        предусмотренной Программой государственных гарантий;
    </p>
    <p>* незаконное взимание денежных средств в кассу медицинских
        организаций за оказание за плату медицинской помощи
        (предоставление услуг), предусмотренной Программой
        государственных гарантий;
    </p>
    <p>* взимание денежных средств за предоставление платных
        медицинских услуг, не предусмотренных Программой государственных
        гарантий, на осуществление которых у медицинской организации не
        имеется специального разрешения соответствующего органа управления
        здравоохранением;
    </p>
    <p>* незаконное взимание денежных средств за выдачу направлений на
        лечение, рецептов на отпуск лекарственных средств;
    </p>
    <p>* приобретение за счет средств пациентов лекарственных средств и
        изделий медицинского назначения из утвержденного территориальной
        программой государственных гарантий перечня жизненно необходимых
        лекарственные средства и изделий медицинского назначения
    </p>
    <p>* несоблюдение сроков предоставления плановой медицинской помощи,
        установленных территориальной программой государственных гарантий.
    </p>

    <h5>В случае нарушения прав граждан на получение
        бесплатной медицинской помощи в соответствии с
        законодательством Российской Федерации вы вправе
        обращаться: к руководителю учереждения
        здравоохранения;
        в страховую медицинскую организацию (в страховых
        случаях);
    </h5>

    <p>Прием обращений на «горячую линию» Министерства
        здравоохранения Самарской области по вопросам
        противодействия коррупции в сфере здравоохранения
        производится по телефону +7 846 332-02-74 ежедневно с 10.00 до
        13.00, кроме выходных и праздничных дней.
    </p>
    <p>Прием обращений о выявленных фактах коррупции, в том числе
        взяточничества, производится по телефону +7/846/956-44-55
        (секретарь) в рабочее время или по адресу director@cordbank.ru.
        О фактах возникновения конфликта интересов необходимо
        сообщать или по телефону +7/846/956-44-55 (секретарь) в
        рабочее время или на электронную почту director@cordbank.ru.
    </p>

</div>
