<div class="contact__bottom__requisites__container">
    <h2>РЕКВИЗИТЫ</h2>
    <p>Название организации: Государственное бюджетное учреждение здравоохранения «Самарский областной медицинский центр Династия» (ГБУЗ «МЦ Династия»)</p>
    <p>Юридический адрес: 443095, г. Самара ул. Ташкентская д. 159</p>
    <p>Фактический адрес: 443095, г. Самара ул. Ташкентская д. 159</p>
    <p>ИНН: 6311083770</p>
    <p>КПП: 631201001</p>
    <p>ОГРН: 1066311019631</p>
    <p>ОКВЭД: 85.14.3</p>
    <p>Получатель: Министерство управления финансами Самарской области (ГБУЗ «МЦ Династия», л.с. 612.01.027.0)</p>
    <p>Р/с: 40601810036013000002 в Отделение Самара, г. Самара</p>
    <p>БИК: 043601001</p>
    <p>Директор: Тюмина Ольга Владимировна, действует на основании Устава</p>
    <p>В назначении платежа обязательно указывать: ПД. Оплата за ФИО (с кем заключен договор)</p>
    <p>Телефоны: (846) 956-05-11, 956-19-33, 956-67-29</p>
    <p>E-mail: info@cordbank.ru</p>
    <p>ОКАТО: 36401000000</p>
    <p>КБК: 00000000000000000130</p>
    <p>ОКТМО: 36701000</p>
    <p>ЕГРЮЛ: скачать</p>
</div>