<div class="contact__bottom__mode__and__schedule__container" style="display: none">
    <h2>РЕЖИМ И ГРАФИК РАБОТЫ</h2>

    <div class="contact__bottom__mode__and__schedule__container__flex">
        <div class="contact__bottom__mode__and__schedule__block">
            <h3>ОТДЕЛЕНИЕ ПО АДРЕСУ ТАШКЕНТСКАЯ, 159</h3>
            <p>Понедельник - пятница: 8:00 - 20:00<br>
                суббота: 8:00-13:00 (прием пациентов, вступивших в программу ЭКО)<br>
                воскресенье: выходной
            </p>
            <p class="title">Телефоны:</p>
            <p>единая справочная 8(846)203-90-08<br>
                секретарь (факт) 8(846)956-44-55<br>
                бухгалтерия: 8(846)956-19-33
            </p>
        </div>

        <div class="contact__bottom__mode__and__schedule__block">
            <h3>ОТДЕЛЕНИЕ ПО АДРЕСУ ГАЛАКТИОНОВСКАЯ, 21</h3>
            <p>Понедельник - пятница: 8:00 - 20:00<br>
                суббота: 8:00-13:00 (прием пациентов, вступивших в программу ЭКО)<br>
                воскресенье: выходной
            </p>
            <p class="title">Телефоны:</p>
            <p>единая справочная 8(846)203-90-08<br>
                секретарь (факт) 8(846)956-44-55<br>
                бухгалтерия: 8(846)956-19-33
            </p>
        </div>
    </div>
</div>