<div class="contact__bottom__addresses__and__phone__numbers__container" style="display: none">
    <h2>АДРЕСА И ТЕЛЕФОНЫ КОНТРОЛИРУЮЩИХ ОРГАНОВ</h2>

    <div class="contact__bottom__addresses__and__phone__numbers__container__flex">
        <div class="contact__bottom__addresses__and__phone__numbers__block">
            <p class="title">Орагнизована круглосуточная работа единого телефона "ГОРЯЧЕЙ ЛИНИИ" по вопросам
                оказания гражданам медицинской помощи, лекарственного обеспечения, в том числе доступности
                обезболивающей терапии, на территории Самарской области
            </p>
            <p>8(846)225-70-82 единый номер МЗ Самарской области</p>
            <p>8(927)781-15-32 заместитель директора по контролю качества Волчков С.Е.</p>
        </div>

        <div class="contact__bottom__addresses__and__phone__numbers__block">
            <p class="title">Федеральная служба по надзору в сфере здравоохранения</p>
            <p>443041 Самара, ул. Арцыбушевская, 13</p>
            <p>тел. 8(846)333-20-87</p>
        </div>

        <div class="contact__bottom__addresses__and__phone__numbers__block">
            <p class="title">Министерство здравоохранения Самарской области</p>
            <p>443020 Самара, ул. Ленинская, 73</p>
            <p>тел. 8(846)332-93-09<br>
                8(846)332-93-30<br>
                8(846)333-00-16
            </p>
        </div>

        <div class="contact__bottom__addresses__and__phone__numbers__block">
            <p class="title">Управление Федеральной службы по наздору в сфере защиты прав потребителей и благополучия человека по Самарской области</p>
            <p>443079 Самара, ул. Георгия Митирева, 1</p>
            <p>тел. 8(846)260-38-25</p>
        </div>

        <div class="contact__bottom__addresses__and__phone__numbers__block">
            <p class="title">Территориальный фонд ОМС Самарской области</p>
            <p>443082 Самара, ул. Владимирская, 60</p>
            <p>тел. 8(846)998-27-06<br>
                8(846)998-27-09
            </p>
        </div>

        <div class="contact__bottom__addresses__and__phone__numbers__block">
            <p class="title">Общественный совет по вопросам прав и свобод человека</p>
            <p>При уполномоченном по правам человека в Самарской области создан Общественный совет по вопросам прав и свобод человека.
                Одной из основных задач Общественного совета является содействие правовому просвещению населения Самарской области,
                в рамках которого члены Общественного совета ведут личный приём граждан.
            </p>
            <p>Предварительный график приёма граждан членами Общественного совета по вопросам прав и свобод человека в Самарской
                области при Уполномоченном по правам человека в Самарской области опубликован на www.ombudsman63.ru Актуальная
                информация о том, состоится ли приём в обозначенный день, представлена  в рубрике «Анонсы» на сайте Уполномоченного
                по правам человека в Самарской области или уточняйте по телефону: 8 (846) 337-29-03.
            </p>
        </div>

        <div class="contact__bottom__addresses__and__phone__numbers__block">
            <p>Приём граждан членами общественного совета будет проводиться в приёмной граждан Уполномоченного по правам человека в
                Самарской области по адресу: г. Самара, ул. Маяковского, д. 20.
            </p>
        </div>

        <div class="contact__bottom__addresses__and__phone__numbers__block">
            <p>Приём граждан по вопросам получения медицинской помощи в ГБУЗ «МЦ Династия» проводится директором учреждения Тюминой Ольгой Владимировной</p>
            <p>Понедельник с 14:00 до 17:00<br>
                Среда с 14:00 до 17:00<br>
                по адресу ул. Ташкентская, 159<br>
                тел: 8(846)956-44-55<br>
                e-mail:  info@cordbank.ru
            </p>
        </div>
    </div>

</div>