<div class="contact__bottom__driving__directions__container">
    <h2>СХЕМЫ ПРОЕЗДА</h2>

    <div cclass="">
        <div class="">
            <h3>МЕДИЦИНСКИЙ ЦЕНТР ПО АДРЕСУ ТАШКЕНТСКАЯ, 159</h3>
            <p class="title">Проезд общественным транспортом:</p>
            <p>автобусы и маршрутные такси № 1; № 67; № 205; № 210; № 221; № 410 (остановка Ташкентская)</p>
            <p>трамвай № 21; № 22; № 24; № 25 (остановка б-ца Середавина)</p>
        </div>
        <img src="../images/driving1.png">
    </div>

    <div cclass="">
        <div class="">
            <h3>МЕДИЦИНСКИЙ ЦЕНТР ПО АДРЕСУ ТАШКЕНТСКАЯ, 159</h3>
            <p class="title">Проезд общественным транспортом:</p>
            <p>автобусы и маршрутные такси № 1; № 67; № 205; № 210; № 221; № 410 (остановка Ташкентская)</p>
            <p>трамвай № 21; № 22; № 24; № 25 (остановка б-ца Середавина)</p>
        </div>
        <img src="../images/driving2.png">
    </div>
</div>