<div class="title donor-program">
    <p>Прохождения курса ВРТ – реальная возможность для семейных пар
        зачать и выносить здорового малыша. В Областном центре
        репродуктивной медицины «Династия» вы можете получить полный
        комплекс услуг по лечению бесплодия на современном
        оборудовании с применением самых передовых технологий,
        доказавших свою эффективность для многих наших пациентов.
    </p>
    <p>За годы р аботы Центра в отделении ВРТ, после оказания нашими
        специалистами своевременной медицинской помощи, на свет
        появилось более 1850 детей.
    </p>
</div>
