<div class="receiving">
    <h2>КАК ПОЛУЧИТЬ УСЛУГУ</h2>

    <div class="drop-down__service drop-down__service_1 drop-down__active">
        <h3>ОМС</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                accumsan et viverra justocommodo. Proin sodales pulvinar tempor.
                Cum sociis natoque penatibus et.</p>
            <div class="drop-down__service__bottom">
                <p>Подробнее об ОМС</p>
                <p>Список анализов</p>
                <p>Образцы документов</p>
            </div>
        </div>
    </div>

    <div class="drop-down__service drop-down__service_2">
        <h3>ДМС</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                accumsan et viverra justocommodo. Proin sodales pulvinar tempor.
                Cum sociis natoque penatibus et.</p>
            <div class="drop-down__service__bottom">
                <p>Подробнее об ОМС</p>
                <p>Список анализов</p>
                <p>Образцы документов</p>
            </div>
        </div>
    </div>

    <div class="drop-down__service drop-down__service_3">
        <h3>ПЛАТНО</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                accumsan et viverra justocommodo. Proin sodales pulvinar tempor.
                Cum sociis natoque penatibus et.</p>
            <div class="drop-down__service__bottom">
                <p>Подробнее об ОМС</p>
                <p>Список анализов</p>
                <p>Образцы документов</p>
            </div>
        </div>
    </div>

</div>