<div class="infertility-treatment-info">
    <div class="infertility-treatment-info__top">
        <h2>ЭФФЕКТИВНОСТЬ ГОДОВОГО КУРСА <br>КОМПЛЕКСНОГО ЛЕЧЕНИЯ БЕСПЛОДИЯ ДОСТИГАЕТ 90%</h2>
        <p>С каждой последующей попыткой процент вероятности
            забеременеть возрастает пропорционально.<br>
            Результативность одной попытки ЭКО в среднем составляет 30-35%,
            однако, применение передовых методик позволяет нам добиваться
            результата с вероятностью более 50%!
        </p>
        <p>Само собой, вероятность зачатия в программе ЭКО зависит от
            множества факторов, каждый случай индивидуален, и чем раньше
            Вы обратитесь в "Династию", тем выше у Вас шансы на успех.
        </p>
    </div>

    <div class="infertility-treatment-info__bottom">
        <h2>ДЛЯ ПОВЫШЕНИЯ ЭФФЕКТИВНОСТИ ЛЕЧЕНИЯ <br>МЫ ИСПОЛЬЗУЕМ В РАБОТЕ КОМПЛЕКСНЫЙ ПОДХОД</h2>
        <div class="infertility-treatment-info__bottom__1">
            <p class="number">01</p>
            <p class="info">Каждая пара, обратившаяся в центр, проходит процедуру самого
                тщательного обследования в нашей клинической лаборатории – это
                гарантирует индивидуальный подход к каждому случаю и высокую
                эффективность последующего лечения.
            </p>
        </div>
        <div class="infertility-treatment-info__bottom__2">
            <p class="number">02</p>
            <p class="info">Паре назначаются консультации специалистов Центра.<br>
                Исходя из необходимости это могут быть консультации:<br>
                • репродуктологов;<br>
                • акушеров-гинекологов;<br>
                • урологов-андрологов;<br>
                • эндокринологов;<br>
                • маммологов;<br>
                • гематологов;<br>
                • генетиков;<br>
                • психологов.
            </p>
        </div>
        <div class="infertility-treatment-info__bottom__3">
            <p class="number">03</p>
            <p class="info">По итогам результатов обследования и рекомендациям
                специалистов центра пациенты проходят медикаментозную
                коррекцию выявленной патологии.
            </p>
        </div>
    </div>
</div>