<div class="infertility-treatment-contacts">
    <h2>КОНТАКТНАЯ ИНФОРМАЦИЯ ОТДЕЛЕНИЯ ВРТ</h2>
    <div class="infertility-treatment-contacts-flex">
        <p>443095 Россия, г. Самара, ул. Ташкентская, 159</p>
        <p>Телефон: (846) 203-98-08</p>

        <h3>ВРЕМЯ РАБОТЫ</h3>
        <div class="time">
            <p>понедельник - пятница:</p>
            <p>первая смена - с 08:00 до 15:48;</p>
            <p>вторая смена - с 12:00 до 19:48;</p>
        </div>

        <p>суббота - с 08:00 до 13:00;</p>

        <p class="sunday">выходной - воскресенье</p>

        <a href="#">ПОДРОБНЕЕ ОБ ОТДЕЛЕНИИ ВРТ</a>

        <img src="assets/images/contacts_info.png" width="660px;">
    </div>
</div>