<div class="infertility-treatment-services">
    <h2>УСЛУГИ ПО ЛЕЧЕНИЮ БЕСПЛОДИЯ</h2>
    <div class="infertility-treatment-services__block">
        <div class="infertility-treatment-services__block__left">
            <h3>ЛЕЧЕНИЕ БЕСПОЛДИЯ БАЗОВЫМИ
            МЕТОДАМИ ЭКО И ИКСИ, СО СПЕРМОЙ
            ДОНОРА, С ДОНОРСКИМИ ЯЙЦЕКЛЕТКАМИ,
            ЭМБРИОНАМИ; ПРИМЕНЕНИЕ ПИКСИ И ДРУГИХ МЕТОДОВ</h3>
        </div>
        <div class="infertility-treatment-services__block__right">
            <p>ЭКО. Экстра (снаружи) корпоральное (корпус -
                тело) оплодотворение. Суть метода в извлечении
                созревшей яйцеклетки из организма женщины и
                оплодотворении ее сперматозоидом партнера "in vitro",
                то есть в пробирке. Полученный эмбрион содержат в
                условиях инкубатора, где он развивается в течение 2-5
                дней, после чего эмбрион переносят в полость матки для
                дальнейшего развития. После применения ЭКО беременность
                развивается обычным путем.</p>
            <a href="#">ПОДРОБНЕЕ</a>
        </div>
    </div>
    <div class="infertility-treatment-services__block">
        <div class="infertility-treatment-services__block__left">
            <h3>ВНУТРИМАТОЧНЫЕ ИНСЕМИНАЦИИ</h3>
        </div>
        <div class="infertility-treatment-services__block__right">
            <p>Внутриматочная инсеминация (лат. semina - сперма),(ВМИ,
                искуственная инсеминация) - вспомогательная репродуктивная
                технология, представляющая собой введение в цервикальный
                канал или матку женщины сперму мужичины, полученной
                заблаговременно вне полового акта. Примеряется в
                медицинских целях для достижения беременности в
                бесплодных парах, либо для получения беременности
                у одиноких женщин.
            </p>
            <a href="#">ПОДРОБНЕЕ</a>
        </div>
    </div>
    <div class="infertility-treatment-services__block">
        <div class="infertility-treatment-services__block__left">
            <h3>ВЫПОЛНЕНИЕ СПЕРМОГРАММ + МАР-ТЕСТА</h3>
        </div>
        <div class="infertility-treatment-services__block__right">
            <p>Спермограмма - анализ эякулята (спермы),
                проводимый для установления фертильности
                мужчины и выявления возможных заболеваний
                половой системы.
            </p>
            <p>МАР-тест - дополнительное исследование спермы партнера,
                которое проводится с целью расчета соотношение
                сперматозоидов, способных и не способных к оплодотворению
                яйцеклетки.
            </p>
            <a href="#">ПОДРОБНЕЕ</a>
        </div>
    </div>
    <div class="infertility-treatment-services__block">
        <div class="infertility-treatment-services__block__left">
            <h3>КРИОКОНСЕРВАЦИЯ ЭМБРИОНОВ, ООЦИТОВ И СПЕРМЫ ПАЦИЕНТОВ</h3>
        </div>
        <div class="infertility-treatment-services__block__right">
            <p>Криоконсервация - безопасный метод замораживания и сохранения
                эмбрионов, ооцитов и спермы пациентов наших пациентов,
                производящиеся при помощи жидкого азота при соблюдении
                температурного режима -196°С. Этот метод позволяет
                сохранить биологический материал для его дальнейшего
                использования при необходимости.
            </p>
            <a href="#">ПОДРОБНЕЕ</a>
        </div>
    </div>
</div>