<div class="container container__action insimination">
    <div class="text__action">
        <p><b>Внутриматочная инсеминация (лат.semina - сперма),(ВМИ,
            искуственная инсеминация)</b> - медицинская технология
            (вспомогательная репродуктивная технология), представляющая
            собой введение в цервикальный канал или матку женщины спермы
            мужчины, полученной задлаговременно вне полового акта.
            Применяется в медицинских целях для достижения беременности в
            бесплодных парах, либо для получения беременности у одиноких
            женщин, проводится в условиях амбулатории медицинских
            учреждений медицинского профиля.
        </p>
        <p>Интраматочная (внутриматочная) инсиминация (ИМИ) - одна из
            высокоэффективных репродуктивных технологий. Она увеличивает
            частоту естественных зачатий, поскольку сперму супруга
            специально подготавливают: выделяют фракции самых лучших,
            активных сперматозоидов, обеспечивают их и яйцеклетки набором
            миркоэлементов, питательных веществ и оптимальной средой для
            развития, а так же придают сперме состояние, в котором возможно
            введение непосредственно в полость матки. Такое введение
            сокращает "время пути" для сперматозоида, и, в комплексе с тем,
            что используется самая лучшая фракция семени, повышает
            вероятность наступления зачатия.
        </p>
        <p>Искусственная инсеминация известна с конца 18 в. В 1784 году
            итальянец Лазаро Спалацци произвел искуственное осеменение
            собаки, в результате которой наступила беременность. Все трое
            щенков, появившихся на свет, были здоровы. В 1790 году
            шотландский врач Джон Хантер впервые попробовал осуществить
            внутриматочную инсеминацию женщины спермой её мужа,
            страдающего гипоспадией.
        </p>

        <h5>Методика проведения</h5>

        <p>Процедуру проводят в периовуляторный период (дни овуляции),
            время которого гинеколог определяет в соотвертствии с
            имеющимисся в его распоряжении средставми. Искусственная
            инсеминация может применятся как в естественном цикле
            женщины, так и с использованием гормональной стимуляции
            суперовуляции. <br>
            Сперму для внутриматочной инсеминации получают либо
            непосредственно перед процедурой введения (за 1-3 часа до
            процедуры), либо используют размороженную сперму, которая
            была криоконсервировата заблаговременно. Для введения
            используют либо нативную(необработанную) сперму, либо
            предварительно обработанную сперму. Обработка спермы состоит
            в отделении сперматозоидов от семенной жидкости, для этого
            осуществляют двух-трехкратное переосаждение сперматозоидов
            на центрифуге с разбавлением спермы физиологической средой.
            Использование обработанной спермы для внутриматочной
            инсеминации предпочтительнее, так как при введении нативной
            спермы в матку существует риск анафилактического шока.
            Использование донорской спермы регламентируется приказом №67
            Минздрава РФ[1] согласно которому донорская сперма может быть
        </p>

        <h5>Показаниями для проведение искуственной инсеминации спермой мужа являются:</h5>

        <p><b>Со стороны мужчины:</b></p>

        <p>1. Субфертильная сперма;<br>
            2. Эякуляторно-сексуальные расстройства
        </p>

        <p><b>Со стороны женщины:</b></p>

        <p>1. Церквиальный фактор бесплодия;<br>
            2. Вагинизм.
        </p>

        <h5>Противопоказаниями для проведение искуственной инсеминации являются:</h5>

        <p><b>Со стороны женщины:</b></p>

        <p>1. соматические и психические заболевания, при которых противопоказана
            беременность;<br>
            2. Пороки развития и патология матки, при которых невозможно вынашивание
            беременности;
        </p>

    </div>
    <div class="image__action insimination">
        <img src="assets/images/intrauterine-slider1.png" class="image_top">
        <img src="assets/images/slider_left-arrow_50.png" class="arrow">
        <img src="assets/images/intrauterine-slider1.png" class="image_bottom image_active">
        <img src="assets/images/intrauterine-slider1.png" class="image_bottom">
        <img src="assets/images/intrauterine-slider1.png" class="image_bottom">
        <img src="assets/images/slider_right-arrow_50.png" class="arrow">
    </div>
</div>