<div class="list-of-organizations">
    <h2>СПИСОК ОРГАНИЗАЦИЙ, ЗАКЛЮЧИВШИХ ДОГОВОРА</h2>

    <div class="list-of-organizations__conteiner">
        <div class="list-of-organizations__block">
            <h5>ЗАО СК "АСТРО-ВОЛГА-МЕД"</h5>
            <p>443041 г.Самара, ул.Арцыбушевская, 167</p>
            <p>тел. +7(846)333-50-10; 337-60-64</p>
        </div>
        <div class="list-of-organizations__block">
            <h5>САМАРСКИЙ ФИЛИАЛ ОАО"МСК"УРАЛСИБ""</h5>
            <p>443041 г.Самара, Сарапульский переулок, 33 кв.7</p>
            <p>тел. +7(846)992-73-73, факс +7(846)995-68-68</p>
        </div>
        <div class="list-of-organizations__block">
            <h5>ЗАО СК "МАКС-М"</h5>
            <p>443041 г.Самара, ул. Лесная, 5</p>
            <p>тел. +7(846)270-69-01; 270-69-22; 8-800-555-44-03</p>
        </div>
        <div class="list-of-organizations__block">
            <h5>ЗАО СК "АЛЬЯНС-МЕД"</h5>
            <p>446001 г.Сызрань, ул.Ульяновская, 79</p>
            <p>тел. +7(464)98-72-59, +7(464)995-68-68</p>
        </div>
        <div class="list-of-organizations__block">
            <h5>ЗАО СК "АСКОМЕД"</h5>
            <p>443041 г.Самара, ул.Ленинская, 119</p>
            <p>тел. +7(846)332-55-19;</p>
        </div>
    </div>
</div>