<div class="medical-and-diagnostic-departaments-info-slide offices" style="display: none">
    <h4>ОТДЕЛЕНИЯ</h4>
    <div class="medical-and-diagnostic-departaments-info-slide__offices_conteiner">
        {{> medical-and-diagnostic-departaments-offices offices=offices.[0]}}
        {{> medical-and-diagnostic-departaments-offices offices=offices.[1]}}
        {{> medical-and-diagnostic-departaments-offices offices=offices.[2]}}
        {{> medical-and-diagnostic-departaments-offices offices=offices.[3]}}
        {{> medical-and-diagnostic-departaments-offices offices=offices.[4]}}
        {{> medical-and-diagnostic-departaments-offices offices=offices.[5]}}
        {{> medical-and-diagnostic-departaments-offices offices=offices.[6]}}
        {{> medical-and-diagnostic-departaments-offices offices=offices.[7]}}
        {{> medical-and-diagnostic-departaments-offices offices=offices.[8]}}
    </div>
</div>
