<div class="medical-and-diagnostic-departments__title">
    <p>Центр «Династия» является подразделением крупнейшего в
        Самарской области медицинского учреждения, занимающегося
        вопросами планирования семьи и репродукции, расположенного на
        территории «Самарской областной клинической больницы им. В.Д.
        Середавина» (Больница Калинина).
    </p>
</div>