<div class="quality-indicators-title">
    <div class="quality-indicators-block">
        <p>Позвонив по телефону  8-927-015-95-05 с понедельника по пятницу
            с 9:00 до 16:00, Вы можете связаться с менеджером по работе с
            клиентами Гарифуллиной Э.М. Мы поможем Вам получить
            достоверную информацию об оптимальном лечении и диагностике,
            узнаете к врачу какой специальности обратиться, какие варианты
            лечения возможны.
        </p>
    </div>

    <div class="quality-indicators-block">
        <p>Также Вы можете написать по адресу: dinasty63@mail.ru</p>
    </div>

    <div class="quality-indicators-block">
        <p>Консультации и медицинскую помощь оказывают врачи, прошедшие
            обучение и стажировку в ведущих клиниках России и Европы. Для
            получения лечения Вам необходимо предоставить тот же набор
            документов и первичных анализов, что и жителям Самарской
            области
        </p>
        <p>(информация предоставлена в разделе Пациентам - Лечение по
            ОМС)
        </p>
        <p>По желанию мы можем оказать Вам необходимую помощь в
            организации пребывания в городе Самара.
        </p>
    </div>

    <div class="quality-indicators-block">
        <p>Центр репродуктивных технологий «Династия» оказывает
            медицинскую помощь с применением вспомогательных
            репродуктивных технологий не только жителям, но и гостям
            Самарской области. Обратившись в наш центр, любой житель
            России может получить медицинскую помощь как по ОМС, ДМС, так
            и за счёт средств пациента.
        </p>
    </div>

    <div class="quality-indicators-block">
        <p>Всех иногородних пациентов (не проживающих в Самарской
            области) мы консультируем по всем интересующим вопросам по
            телефону:
        </p>
        <p>8 (846) 203-98-08 (единая справочная служба учреждения) с
            понедельника по пятницу, с 9:00 до 19:00.
        </p>
    </div>
</div>
