<div class="quality-indicators-image">
    <img class="service__img" src="assets/images/manager.png" alt="">
    <h4 class="service__title">ЭЛЬЗА МИХАЙЛОВНА ГАРИФУЛЛИНА</h4>
    <div class="service__description">менеджер по работе с клиентами</div>
</div>