<div class="prices-infertility-treatment">
    <h2>ПОИСК ПО УСЛУГАМ</h2>

    <div class="prices-search">
        {{> input-container label="Введите запрос" type="text"}}
        <button class="btn prices-search__btn">Найти</button>
        <button class="btn prices-close__btn">X</button>
    </div>

    <div class="prices-infertility-treatment__bottom">
        <div class="prices-infertility-treatment__search-block">
            <p class="title">Криогенное хранение образца плацентарной/пуповинной крови в течение 18 лет (при одномоментной оплате скидка 30%)</p>
            <p class="price">Цена: 37800 руб</p>
            <button class="btn prices-infertility-treatment__btn added">ДОБАВЛЕНО</button>
        </div>

        <div class="prices-infertility-treatment__search-block">
            <p class="title">Криогенное хранение образца плацентарной/пуповинной крови в течение 18 лет (при одномоментной оплате скидка 30%)</p>
            <p class="price">Цена: 3000 руб.</p>
            <button class="btn prices-infertility-treatment__btn more-info">ПОДРОБНЕЕ</button>

            <div class="modal-form pop-up__more-info">
                <div class="close_modal-form close_modal-text-of-agreement">X</div>
                <div class="container">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                        accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes,
                        nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                        accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes,
                        nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                        accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes,
                        nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                    </p>
                </div>
            </div>
        </div>

        <div class="prices-infertility-treatment__search-block">
            <p class="title">Криогенное хранение образца плацентарной/пуповинной крови в течение 18 лет (при одномоментной оплате скидка 30%)</p>
            <p class="price">Цена: 69000 руб.</p>
            <button class="btn prices-infertility-treatment__btn add">ДОБАВИТЬ</button>
        </div>

        <div class="prices-infertility-treatment__search-block">
            <p class="title">Криогенное хранение образца плацентарной/пуповинной крови в течение 18 лет (при одномоментной оплате скидка 30%)</p>
            <p class="price">Цена: 55000 руб.</p>
            <button class="btn prices-infertility-treatment__btn added">ДОБАВЛЕНО</button>
        </div>

        <div class="prices-infertility-treatment__search-block">
            <p class="title">Криогенное хранение образца плацентарной/пуповинной крови в течение 18 лет (при одномоментной оплате скидка 30%)</p>
            <p class="price">Цена: 29800 руб.</p>
            <button class="btn prices-infertility-treatment__btn add">ДОБАВИТЬ</button>
        </div>
    </div>
</div>