<div class="patients-container">
    {{> prices-link prices=prices.[0]}}
    {{> prices-link prices=prices.[1]}}
    {{> prices-link prices=prices.[2]}}
    {{> prices-link prices=prices.[3]}}
    {{> prices-link prices=prices.[4]}}
</div>
