<div class="quality-indicators-title">
    <div class="quality-indicators-block">
        <h4>ЦЕЛЬ УЧРЕЖДЕНИЯ</h4>
        <p>Внедрение в медицинскую практику новых, уникальных
            медицинских технологий диагностики и лечения для сохранения и
            укрепленния здоровья человека, интеграция и взаимодействие с
            медицинскими, научными международными сообществами.
        </p>
    </div>

    <div class="quality-indicators-block">
        <h4>МИССИЯ УЧРЕЖДЕНИЯ</h4>
        <p>• организация заготовки, обработки, хранения и предоставления
            стволовых клеток для применения в онкогематологии и других
            медицинских областях, создание регистра доноров кроветворных
            клеток;
        </p>
        <p>• применение вспомогательных репродуктивных технологий для
            лечения супружеских пар, страдающих бесплодием;
        </p>
        <p>• применение современных методов лабораторной диагностики;</p>
        <p>• разработка и внедрение новых методов диагностики и лечения на
            основе собственных исследований и современных достижений в
            мировой и Российской науке;
        </p>
        <p>• удовлетворение потребностей сотрудников учреждения.</p>
    </div>

    <div class="quality-indicators-block">
        <p>• Организована круглосуточная работа единого телефона «ГОРЯЧЕЙ ЛИНИИ» по вопросам оказания гражданам медицинской помощи, лекарственного обеспечения, в том числе доступности обезболивающей терапии, на территории Самарской области.
        </p>
        <p>• 8 (846) 225 - 70 – 82   единый номер МЗ Самарской области
        </p>
        <p>• 8 927 781 15 32   заместитель директора по контролю качества Волчков С.Е.
        </p>
        <p>• С 1 июня 2016 года начал работу единый КОНТАКТ-ЦЕНТР для граждан в сфере обязательного медицинского страхования Самарской области. Телефон 8 800 200 26 60. Режим работы с 9:00 до 18:00 в будние дни. В остальное время работает автоответчик.
        </p>
    </div>
</div>
