<div class="receiving provision-of-services">
    <div class="drop-down__service drop-down__service_1">
        <h3>ПРИЕМ ОБРАЩЕНИЙ</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">
            <p>Организована круглосуточная работа единого телефона «ГОРЯЧЕЙ ЛИНИИ» по вопросам оказания гражданам медицинской помощи,
                лекарственного обеспечения, в том числе доступности обезболивающей терапии, на территории Самарской области.
            <p>8 (846) 225 - 70 – 82   единый номер МЗ Самарской области</p>
            <p>8 927 781 15 32   С 1 июня 2016 года начал работу единый КОНТАКТ-ЦЕНТР для граждан в сфере обязательного медицинского
                страхования Самарской области.
            </p>
            <p>Телефон 8 800 200 26 60.</p>
            <p>Режим работы с 9:00 до 18:00 в будние дни. В остальное время работает автоответчик.</p>
        </div>
    </div>

    <div class="drop-down__service drop-down__service_2">
        <h3>РАБОТА НАД КАЧЕСТВОМ УСЛУГ</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">
            <h4>Качество предоставляемых услуг реализовано посредством:</h4>
            <p>• Внедрения в работу учреждения системы менеджмента качества,
                в соответствии со стандартом ISO9001:2008, предназначенном для
                демонстрации способности учреждения производить услугу или продукт
                соответствующий требованиям потребителя.</p>
            <p>• Разработанная система гарантирует постоянное улучшение качества
                продукта или услуги, посредством постоянного анализа услуг или
                продукта, благодаря внедрению процессного подхода и методологии PDCA</p>
            <p>• (Plan (планируй) – Do (делай) – Check (проверяй) – Act (действуй).</p>
            <p>• введения и строгого исполнения международных стандартов качества в
                лечебной, диагностической и научной работе (GLP, GCP, NETCORD, FACT, EFI)</p>
            <p>• внедрения в практику передового оборудования и его своевременного обслуживания</p>
            <p>• внедрения в практику современных и уникальных методов лечения и диагностики</p>
            <p>• высокой квалификацией сотрудников и постоянным улучшением навыков и
                знаний на международных конференциях и циклах обучения</p>

            <h4>Ответственность руководства</h4>
            <p>Руководство учреждения ориентированно на:</p>
            <p>• разработку и скорейшее достижение политики и стратегических целей, учреждения</p>
            <p>• анализ и достижение удовлетворенности потребителей</p>
            <p>• анализ и удовлетворенности сотрудников учреждения</p>
            <p>• поддержание высокого качества услуг</p>
        </div>
    </div>

    <div class="drop-down__service drop-down__service_3">
        <h3>ДОКУМЕНТЫ</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">
            <h4>• Паспорт доступности. Галактионовская, 21</h4>
            <h4>• Анкета обследования. Галактионовская, 21</h4>

            <h4>• Паспорт доступности. Ташкентская, 159</h4>
            <h4>• Анкета обследования. Ташкентская, 159</h4>

            <h4>• Основные показатели деятельности, 2013 год</h4>
            <h4>• Основные показатели деятельности, 2012 год</h4>
        </div>
    </div>

    <div class="drop-down__service drop-down__service_4">
        <h3>КОНТРОЛЬНЫЕ МЕРОПРИЯТИЯ</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">

        </div>
    </div>

    <div class="drop-down__service drop-down__service_5">
        <h3>ОТЧЕТЫ</h3>
        <div class="slider_up-arrow" style="display: none">
            <img src="assets/images/slider_up-arrow.png">
        </div>
        <div class="slider_down-arrow">
            <img src="assets/images/slider_down-arrow.png">
        </div>
        <div class="drop-down__service__display" style="display: none;">
            <p>ОТЧЁТ о результатах деятельности Государственного бюджетного учреждения здравоохранения
                «Самарский областной медицинский центр Династия » и об использовании закрепленного за
                ним государственного имущества за 2016 год</p>

            <p>ОТЧЁТ о результатах деятельности Государственного бюджетного учреждения здравоохранения
                «Самарский областной медицинский центр Династия » и об использовании закрепленного за
                ним государственного имущества за 2015 год</p>

            <p>ОТЧЁТ о проведении специальной оценки условий труда от 31.08.2015 года</p>

            <p>ОТЧЕТ о проведении специальной оценки условий труда от 24.12.2014 года</p>

            <p>ОТЧЕТ о результатах деятельности Государственного бюджетного учреждения здравоохранения
                «Самарский областной центр планирования семьи и репродукции» и об использовании закрепленного
                за ним государственного имущества за 2014 год</p>

            <p>ОТЧЕТ о результатах деятельности Государственного бюджетного учреждения здравоохранения
                «Самарский областной центр планирования семьи и репродукции» и об использовании закрепленного
                за ним государственного имущества за 2013 год</p>

            <p>ОТЧЕТ о результатах деятельности Государственного бюджетного учреждения здравоохранения
                Самарской области «Клинический центр клеточных технологий» и об использовании закрепленного
                за ним государственного имущества за 2012 год</p>

            <p>Отчет о результатах деятельности Государственного бюджетного учреждения здравоохранения
                Самарской области «Клинический центр клеточных технологий» (наименование учреждения) и об
                использовании закрепленного за ним государственного имущества за 2011 год</p>
        </div>
    </div>
</div>