<div class="prices-search">
    {{> input-container label="Введите запрос" type="text"}}
    <button class="btn prices-search__btn">Найти</button>
    <button class="btn prices-close__btn">X</button>
</div>

<div class="search-rezult">
    <h2>НАЙДЕНО <span>52</span> СОВПАДЕНИЙ ПО ВАШЕМУ ЗАПРОСУ: "<span>ЭКО</span>"</h2>

    <div class="search__block">
        <p class="title">4 июня 2015г. в 18:00 состоится консультация граждан по вопросам лечения бесплодия</p>
        <p>Государственное бюджетное учреждение здравоохранения "Самарский областной центр планирования с ..."</p>
    </div>
    <div class="search__block">
        <p class="title">4 июня 2015г. в 18:00 состоится консультация граждан по вопросам лечения бесплодия</p>
        <p>Государственное бюджетное учреждение здравоохранения "Самарский областной центр планирования с ..."</p>
    </div>
    <div class="search__block">
        <p class="title">4 июня 2015г. в 18:00 состоится консультация граждан по вопросам лечения бесплодия</p>
        <p>Государственное бюджетное учреждение здравоохранения "Самарский областной центр планирования с ..."</p>
    </div>
    <div class="search__block">
        <p class="title">4 июня 2015г. в 18:00 состоится консультация граждан по вопросам лечения бесплодия</p>
        <p>Государственное бюджетное учреждение здравоохранения "Самарский областной центр планирования с ..."</p>
    </div>
    <div class="search__block">
        <p class="title">4 июня 2015г. в 18:00 состоится консультация граждан по вопросам лечения бесплодия</p>
        <p>Государственное бюджетное учреждение здравоохранения "Самарский областной центр планирования с ..."</p>
    </div>
    <div class="search__block">
        <p class="title">4 июня 2015г. в 18:00 состоится консультация граждан по вопросам лечения бесплодия</p>
        <p>Государственное бюджетное учреждение здравоохранения "Самарский областной центр планирования с ..."</p>
    </div>
    <div class="search__block">
        <p class="title">4 июня 2015г. в 18:00 состоится консультация граждан по вопросам лечения бесплодия</p>
        <p>Государственное бюджетное учреждение здравоохранения "Самарский областной центр планирования с ..."</p>
    </div>
    <div class="search__block">
        <p class="title">4 июня 2015г. в 18:00 состоится консультация граждан по вопросам лечения бесплодия</p>
        <p>Государственное бюджетное учреждение здравоохранения "Самарский областной центр планирования с ..."</p>
    </div>
</div>