<div class="secession__container">
    <h2>ВЫБЕРИТЕ ОТДЕЛЕНИЕ</h2>

    <select name="secession" class="secession">
        <option value="1">ВСЕ</option>
        <option value="2">РУКОВОДСТВО</option>
        <option value="3">ОТДЕЛЕНИЕ ВСПОМОГАТЕЛЬНЫХ РЕПРОДУКТИВНЫХ ТЕХНОЛОГИЙ</option>
        <option value="4">ГИНЕКОЛОГИЧЕСКОЕ ОТДЕЛЕНИЕ</option>
        <option value="5">АКУШЕРСКОЕ ОТДЕЛЕНИЕ</option>
        <option value="6">ОТДЕЛЕНИЕ УЛЛЬТРАЗВУКОВОЙ ДИАГНОСТИКИ</option>
        <option value="7">ОТДЕЛЕНИЕ ЛАБОРАТОРНОЙ ДИАГНОСТИКИ</option>
        <option value="8">ФИЛИАЛ В НОВОКУЙБЫШЕВСКЕ</option>
    </select>
</div>