<div class="site-map__conteiner">
    <div class="site-map__block">
        <p class="site-map__title"><a href="../index.html">Главная</a></p>
        <p class="site-map__title"><a href="../#">Услуги</a></p>
        <p><a class="site-map__l1" href="../#">Отделения ВРТ</a></p>
        <p><a class="site-map__l1" href="../#">Центр медико-социальной поддержки беременных</a></p>
        <p><a class="site-map__l1" href="../#">Отделение УЗИ</a></p>
        <p><a class="site-map__l1" href="../#">Акушерское отделение</a></p>
        <p><a class="site-map__l1" href="../#">Гинекологическое отделение</a></p>
        <p><a class="site-map__l1" href="../#">Урология и андрослогий </a></p>
        <p><a class="site-map__l1" href="../#">Лабораторная диагностика</a></p>
        <p><a class="site-map__l1" href="../donor-program.html">Донорство спермы</a></p>
        <p><a class="site-map__l1" href="../donor-program.html">Донорство яйеклеток</a></p>
    </div>
    <div class="site-map__block">
        <p class="site-map__title"><a href="../about-the-center.html">О центре</a></p>
        <p><a class="site-map__l1" href="../news.html">Новости и акции</a></p>
        <p><a class="site-map__l1" href="../rewards.html">Награды</a></p>
        <p><a class="site-map__l1" href="../license.html">Лицензии</a></p>
        <p><a class="site-map__l1" href="../anti-corruption-measures.html">Антикоррупция</a></p>
        <p><a class="site-map__l1" href="../virtual-tour.html">Виртуальный тур</a></p>
        <p><a class="site-map__l1" href="../reviews.html">Отзывы</a></p>
        <p><a class="site-map__l1" href="../careers.html">Вакансии</a></p>
        <p><a class="site-map__l1" href="../provision-of-services.html">Порядок оказания услуг</a></p>
        <p><a class="site-map__l1" href="../quality-indicators.html">Показатели качества</a></p>
        <p><a class="site-map__l1" href="../medical-and-diagnostic-departaments.html">Структура учреждения</a></p>
        <p><a class="site-map__l1" href="../mass-media-about-us.html">СМИ о нас</a></p>
    </div>
    <div class="site-map__block">
        <p class="site-map__title"><a href="../patients.html">Пациентам</a></p>
        <p><a class="site-map__l1" href="../ternament-for-OMS.html">Лечение по ОМС</a></p>
        <p><a class="site-map__l2" href="../#">Список анализов</a></p>
        <p><a class="site-map__l2" href="../#">Этапы получения</a></p>
        <p><a class="site-map__l2" href="../#">Образцы документов</a></p>
        <p><a class="site-map__l1" href="../#">Лечение по ДМС</a></p>
        <p><a class="site-map__l1" href="../#">Цены</a></p>
        <p><a class="site-map__l2" href="../#">Банк пуповинной крови</a></p>
        <p><a class="site-map__l2" href="../#">Лечение бесплодия</a></p>
        <p><a class="site-map__l2" href="../#">УЗИ</a></p>
        <p><a class="site-map__l2" href="../#">Лабораторная диагностика</a></p>
        <p><a class="site-map__l2" href="../#">Консультации</a></p>
        <p><a class="site-map__l2" href="../#">Стационарная помощь</a></p>
        <p><a class="site-map__l1" href="../non-resident-patients.html">Иногородним пациентам</a></p>
        <p><a class="site-map__l1" href="../#">Минздрав СО</a></p>
        <p><a class="site-map__l1" href="../#">Задать вопрос</a></p>
    </div>
    <div class="site-map__block">
        <p class="site-map__title"><a href="../#">Специалисты</a></p>
        <p class="site-map__title"><a href="../knowledge-base.html">База знаний</a></p>
        <p class="site-map__title"><a href="../index.html">Контакты</a></p>
    </div>
</div>