<div class="secession__container">
    <h2>ВСЕ СПЕЦИАЛИСТЫ</h2>

    <div class="paid-services-employees__container">
        <div class="paid-services-employees-image">
            <img class="service__img" src="assets/images/director.png" alt="">
            <h4 class="service__title"><a href="../specialist-page.html">ТЮМИНА ОЛЬГА ВЛАДИМИРОВНА</a></h4>
            <div class="service__description">Директор Центра репродуктивной медицины "Династия",профессор РАЕ, врач высшей категории, доктор медицинских наук</div>
        </div>
        <div class="paid-services-employees-image">
            <img class="service__img" src="assets/images/director.png" alt="">
            <h4 class="service__title"><a href="../specialist-page.html">ТЮМИНА ОЛЬГА ВЛАДИМИРОВНА</a></h4>
            <div class="service__description">Директор Центра репродуктивной медицины "Династия",профессор РАЕ, врач высшей категории, доктор медицинских наук</div>
        </div>
        <div class="paid-services-employees-image">
            <img class="service__img" src="assets/images/director.png" alt="">
            <h4 class="service__title"><a href="../specialist-page.html">ТЮМИНА ОЛЬГА ВЛАДИМИРОВНА</a></h4>
            <div class="service__description">Директор Центра репродуктивной медицины "Династия",профессор РАЕ, врач высшей категории, доктор медицинских наук</div>
        </div>
        <div class="paid-services-employees-image">
            <img class="service__img" src="assets/images/director.png" alt="">
            <h4 class="service__title"><a href="../specialist-page.html">ТЮМИНА ОЛЬГА ВЛАДИМИРОВНА</a></h4>
            <div class="service__description">Директор Центра репродуктивной медицины "Династия",профессор РАЕ, врач высшей категории, доктор медицинских наук</div>
        </div>
        <div class="paid-services-employees-image">
            <img class="service__img" src="assets/images/director.png" alt="">
            <h4 class="service__title"><a href="../specialist-page.html">ТЮМИНА ОЛЬГА ВЛАДИМИРОВНА</a></h4>
            <div class="service__description">Директор Центра репродуктивной медицины "Династия",профессор РАЕ, врач высшей категории, доктор медицинских наук</div>
        </div>
        <div class="paid-services-employees-image">
            <img class="service__img" src="assets/images/director.png" alt="">
            <h4 class="service__title"><a href="../specialist-page.html">ТЮМИНА ОЛЬГА ВЛАДИМИРОВНА</a></h4>
            <div class="service__description">Директор Центра репродуктивной медицины "Династия",профессор РАЕ, врач высшей категории, доктор медицинских наук</div>
        </div>
    </div>
</div>